@keyframes menu_hover_2 {
  0% {
    left: -100%;
    visibility: hidden;
  }
  10% {
    left: -100%;
    opacity: 1;
    visibility: visible;
  }
  65% {
    opacity: 0.3;
  }
  80% {
    left: 100%;
    opacity: 0.1;
    visibility: visible;
  }
  81% {
    left: 100%;
    visibility: hidden;
  }
  100% {
    left: -100%;
    visibility: hidden;
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

