.ptSerif {
  font-family: 'PT Serif', sans-serif;
}

.text-xs-primary {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.text-xxs-primary {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
}

.banner-title {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: 3.1px;
  text-align: center;
  color: #000000;
}

.intro-title {
  font-size: 38px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.fw-n {
  font-weight: 400 !important;
}

.fw-700 {
  font-weight: 700;
}

.text-black {
  color: #000;
}

.text-light-green {
  color: #22cb8f;
}

.f-s-i {
  font-style: italic;
}

.text-gray-primary {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #9e9e9e;
}

.team-card-1-user-name {
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.85;
  letter-spacing: normal;
  color: #ffffff;
}

.team-card-1-user-position {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #22cb8f;
}

.team-card-1-user-description {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

  .price-card-title {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #111111;
}

.card-price-text {
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.94;
  letter-spacing: -0.8px;
  color: #111111;
}

.package-advantage-text {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: normal;
  text-align: center;
  color: #111111;
}

.text-sm-light-gray {
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: normal;
  text-align: left;
  color: #9e9e9e;
}

.project-1-item--title {
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.project-1-item--content  {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #fff;
}

.testimonial-content--text {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #000000;
}

.footer-1-privacy--text {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #8a8a8a;
}

.divider-intro-1--text {
  font-size: 38px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.blog-1-item-info--text {
  font-size: 14px;
}

.l-h-1 {
  line-height: 1;
}

.f-w-300 {
  font-weight: 300;
}

.f-w-500 {
  font-weight: 500;
}

.contact-1-board--title {
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.4px;
}

.fz-0 {
  font-size: 0;
}

.fz-12 {
  font-size: 12px;
}

.fz-14 {
  font-size: 14px;
}

.fz-15 {
  font-size: 15px;
}

.fz-18 {
  font-size: 18px;
}

.fz-60 {
  font-size: 60px !important;
}

.fz-20 {
  font-size: 20px !important;
}

.fz-24 {
  font-size: 24px;
}

.fz-30 {
  font-size: 30px;
}

.fz-25 {
  font-size: 25px !important;
}

.text-gray {
  color: rgba(0, 0, 0, 0.54);
}

.text-danger {
  color: #ff4951;
}