.header-white {
  background-color: #ffffff;
}
.brand-img {
  display: block;
  img {
    max-width: 130px;
    height: 80px;
    transition: all .3s ease;
  }
}
.menu-top {
  transition: .15s ease;
  &.is-sticky {
    background-color: #ffffff;
    box-shadow: 0px 1px 10px -2px rgba(0,0,0,0.41);
    .brand-img {
      img {
        height: 65px;
      }
    }
  }
  &:not(.is-sticky) {
    .nav-dark {
      .fa-search {
        color: #ffffff;
      }
      .toggle-header {
        span {
          background-color: #ffffff;
          &:before,
          &:after {
            background-color: #ffffff;
          }
        }
      }
    }

  }
  .fa-search {
    &:before {
      line-height: 20px;
    }
  }
  .navbar {
    .text-xs-primary {
      &:hover {
        color: initial;
      }
    }
  }
}
.toggle-header {
  position: relative;
  width: 23px;
  height: 21px;
  z-index: 2;
  span {
    background-color: black;
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    transition-duration: 0.3s, 0.3s;
    &:before,
    &:after {
      content: "";
      background-color: black;
      height: 100%;
      width: 100%;
      position: absolute;
      transition-duration: 0.3s, 0.3s;
    }
    &:before {
      top: -7px;
      transition-property: top, transform;
    }
    &:after {
      bottom: -7px;
      transition-property: bottom, transform;
    }
  }
}
.navbar-shadow {
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
}
.search-1 {
  font-size: 19px;
}
.search-1-field {
  z-index: 10;
  background-color: #ffffff;
  &:not(.opened) {
    transform: translateY(-200%);
  }
  transition: all .2s ease-out;
  form {
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #454545;
    input {
      display: block;
      width: 100%;
      height: 100%;
      padding-left: 15px;
      padding-right: 30px;
    }
  }
  .fa-times {
    font-size: 20px;
    color: #454545 !important;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }
}