@media (max-width: 575px) {
  .blog-1-item {
    & + & {
      margin-top: 15px;
    }
  }
  .about-tabs {
    justify-content: center;
    .nav-tabs__item {
      &:not(:first-child) {
        margin-left: 0;
      }
      &:not(:last-child) {
        margin-right: 20px;
      }
      margin-bottom: 10px;
    }
  }
  .client-logo {
    width: calc(50% - 10px);
    &:nth-child(n+3) {
      margin-top: 20px;
    }
    &:nth-child(even) {
      margin-left: 20px;
    }
    img {
      width: 100%;
    }
  }
  .quote-card {
    .quote-author-holder {
      padding: 15px 20px;
    }
  }
  .product-tab {
    & + & {
      margin-left: auto;
    }
    padding: 0 3px 25px;
  }
  .product-specs {
    span {
      padding: 10px 10px 9px;
      &:first-child {
        border: none;
        width: 120px !important;
      }
      &:last-child {
        border-left: 1px solid #d6d6d6;
      }
    }
  }
  .comment-wrapper {
    .avatar {
      margin-right: 15px;
    }
    .img-circle {
      width: 70px;
    }
  }
  .cart-product-table {
    > thead {
      > tr {
        > th {
          &:first-child {
            min-width: 265px;
            width: 265px;
          }
          &:nth-child(2) {
            min-width: 65px;
            width: 65px;
          }
          &:nth-child(3) {
            min-width: 107px;
            width: 107px;
          }
          &:nth-child(4) {
            min-width: 86px;
            width: 86px;
          }
        }
      }
    }
  }
  .subtotal-box {
    margin-top: 40px;
  }
  .card-actions {
    flex-wrap: wrap;
    .btn {
      & + .btn {
        margin-top: 20px;
      }
      width: 100%;
      margin-left: 0 !important;
    }
  }
  .post-entry {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(49, 69, 73, 0.96);
    & + & {
      margin-top: 40px;
    }
    .thumb {
      margin-bottom: 20px;
    }
    .summary {
      .btn {
        display: block;
        max-width: 200px;
        margin: 20px auto 0;
      }
    }
  }
  .related-post-card {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(49, 69, 73, 0.96);
    & + & {
      margin-top: 20px;
    }
  }
  .related-post {
    .thumb {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .blog-1-item-info {
    height: 100%;
  }
  .client-logo {
    &:nth-child(n+4) {
      margin-top: 30px;
    }
  }
  .quote-card {
    .quote-author-holder {
      padding: 15px;
    }
  }
  .product-card {
    flex: 0 0 calc(50% - 5px);
    max-width: calc(50% - 5px);
    &:nth-child(odd) {
      margin-right: 10px;
    }
  }
  .card-actions {
    order: 4;
  }
  .coupon-box {
    order: 3;
  }
  .post-entry {
    .summary {
      .content-holder {
        padding-left: 5%;
      }
    }
  }
  .related-post {
    .desc {
      padding-left: 15px;
    }
  }
}

@media (max-width: 767px) {
  .desktop {
    display: none !important;
  }
  .banner-title {
    font-size: 22px;
  }
  .nav-tabs {
    &__item {
      &:hover {
        color: initial;
      }
    }
  }
  .menu-top {
    .navbar {
      top: 65px;
    }
  }
  .banner-1 {
    margin-bottom: 50px;
    padding-top: 80px;
    &__content {
      padding-top: 60px;
    }
    &__logo {
      min-width: 500px;
      width: 100%;
      max-width: 675px;
    }
    .btn {
      margin-bottom: 50px;
    }
  }
  .banner-2 {
    padding: 170px 0 90px;
    margin-bottom: 50px;
    &__content {
      flex-direction: column;
      .banner-text-content {
        align-items: center;
      }
      .header-breadcrumb {
        margin-top: 35px;
      }
    }
  }
  .banner-3 {
    padding-top: 80px;
    margin-bottom: 50px;
    &__content {
      padding: 90px 0;
    }
  }
  .section-intro {
    margin-bottom: 50px;
  }
  .team-cards-1 {
    .owl-item {
      & + .owl-item {
        margin-left: 15px;
      }
    }
  }
  .intro-title {
    font-size: 25px;
    padding: 10px 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    &:before,
    &:after {
      height: 35px;
    }
    .lines {
      &:after,
      &:before {
        height: 20px;
      }
    }
  }
  .pricing-cards-1 {
    flex-wrap: wrap;
  }
  .pricing-card-1 {
    & + & {
      margin-top: 15px;
    }
  }
  .blog-1-item-info {
    padding: 10px;
  }
  .blog-1-item-title {
    font-size: 20px;
  }
  .blog-1-item--inner-text {
    margin: 10px 0;
  }
  .project-1-item {
    figcaption {
      left: 20px;
      right: 10px;
    }
  }
  .divider-intro-1 {
    &__content {
      flex-direction: column;
      align-items: center;
    }
  }
  .divider-intro-1--text {
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
  }
  .contact-1-board {
    padding: 40px 20px;
    &__left {
      margin-bottom: 65px;
    }
    .fa-pencil-alt {
      margin-top: 9px;
      font-size: 22px;
    }
    .w-75 {
      width: 100% !important;
    }
  }
  .contact-1-form {
    > .btn {
      display: block;
      margin: 28px auto 0;
    }
  }
  .map-holder-1 {
    padding: 100px 0;
  }
  .board-1-switcher {
    top: 30px;
  }
  .contact-1-board--title {
    font-size: 32px;
  }
  .team-card-1 {
    figcaption {
      left: 20px;
      right: 20px;
      bottom: 30px;
    }
  }
  .quote-card {
    blockquote {
      padding: 30px;
    }
  }
  .main-projects {
    margin-top: 100px;
  }
  .portfolio-single {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .portfolio-item-img {
    margin-bottom: 40px;
  }
  .portfolio-item-description {
    margin-top: 40px;
  }
  .product-cards {
    margin-bottom: 50px;
  }
  .product {
    .actions {
      transform: translateY(-100%);
      a {
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.54);
        &:hover {
          color: rgba(0, 0, 0, 0.54);
        }
      }
      .fa-heart {
        font-size: 18px;
      }
    }
    .desc {
      &:before {
        height: 50px;
      }
    }
  }
  .product-summary {
    margin-top: 20px;
  }
  .calculate-tax {
    margin-bottom: 40px;
    .btn {
      display: block;
    }
  }
  .coupon-box {
    .btn {
      display: block;
      width: 100%;
    }
  }
  .login-buttons {
    button {
      margin-bottom: 20px;
    }
  }
  .coupon-toggle-box {
    margin-top: 25px;
  }
  .post-single-pagination {
    margin-top: 20px;
    a {
      &.text-gray {
        &:not(:first-child) {
          margin-left: 30px;
        }
      }
    }
  }
  .social-links {
    &__item {
      a {
        &:hover {
          background-color: #ffffff;
          color: #9e9e9e;
          border-color: #9e9e9e;
        }
      }
    }
  }
  .demo-block {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none !important;
  }
  .btn {
    &.black {
      &:hover {
        color: #000;
        background-color: #fff;
      }
    }
    &.white {
      &:hover {
        color: #ffffff;
        background-color: #000;
      }
    }
    &.white-light-green {
      &:hover {
        color: #fff;
        background-color: #22cb8f;
      }
    }
    &.light-green-white {
      &:hover {
        color: #22cb8f;
        background-color: #fff;
      }
    }
  }
  .banner-1 {
    min-height: 100vh;
    max-height: 100vh;
    height: 100%;
    padding-top: 86px;
    margin-bottom: 72px;
    &__logo {
      min-width: 500px;
      width: 100%;
      max-width: 675px;
    }
    .scroller-holder {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .banner-2 {
    padding: 176px 0 90px;
    margin-bottom: 72px;
    .header-breadcrumb {
      max-width: 45%;
    }
  }
  .banner-3 {
    padding-top: 86px;
    height: 671px;
  }
  .banner-text-content {
    max-width: 50%;
  }
  .nav-tabs {
    &__item {
      &:hover {
        color: #22cb8f;
        &:before {
          width: 100%;
        }
      }
    }
  }
  .section-intro {
    &:not(.blog-1) {
      margin-bottom: 72px;
    }
    &.blog-1 {
      margin-top: 100px;
    }
  }
  .intro-title {
    padding: 11px 35px;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    &:before,
    &:after {
      height: 49px;
    }
    .lines {
      &:after,
      &:before {
        height: 27px;
      }
    }
  }
  .team-cards-1 {
    .owl-item {
      & + .owl-item {
        margin-left: 42px;
      }
    }
  }
  .blog-1-item {
    &__content {
      padding: 30px;
    }
  }
  .blog-1-item-title {
    font-size: 22px;
  }
  .blog-1-item--inner-text {
    margin: 20px 0;
  }
  .contact-1-board {
    padding: 107px 5.36% 92px 4.532%;
    &__left {
      flex: 0 0 52%;
      max-width: 52%;
      padding-right: 20px;
      margin-top: 25px;
    }
    &__right {
      flex: 0 0 48%;
      max-width: 48%;
    }
  }
  .footer-1-social-icon {
    a {
      &:hover {
        transform: translateY(-15px);
        box-shadow: 0px 9px 11px 0px rgba(0, 0, 0, 0.38);
      }
    }
  }
  .pricing-card-1 {
    &.active {
      transform: scaleY(1.11111);
    }
  }
  .map-holder-1 {
    padding: 165px 0;
  }
  .board-1-switcher {
    top: 100px;
  }
  .main-projects {
    margin-top: 200px;
  }
  .portfolio-single {
    margin-top: 200px;
    margin-bottom: 128px;
  }
  .portfolio-item-description {
    margin-top: 80px;
  }
  .product-cards {
    margin-bottom: 72px;
  }
  .product-card {
    flex: 0 0 calc(33.333333% - 6px);
    max-width: calc(33.333333% - 6px);
    &:not(:nth-child(3n+1)) {
      margin-left: 9px;
    }
  }
  .product-category {
    &__item {
      a {
        transition: all 0.3s ease 0s;
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 0;
          height: 2px;
          background-color: #000000;
          transition: all 0.3s ease 0s;
        }
        &:hover {
          padding-left: 15px;
          &:before {
            width: 10px;
          }
        }
      }
    }
  }
  .product {
    .actions {
      transform: translateY(-100%) scaleY(0);
      a {
        &:hover {
          color: #fff;
          transform: scale(1.2);
          &:before {
            background-color: #000000;
          }
        }
      }
    }
    &:hover {
      .desc {
        &:before {
          height: 50px;
        }
      }
      .actions {
        transform: translateY(-100%) scaleY(1);
      }
    }
  }
  .product-summary {
    padding: 0 15%;
  }
  .cart-subtotal {
    padding: 0 7%;
  }
  .login-form,
  .checkout-coupon {
    padding: 0 8%;
  }
  .login-buttons {
    button {
      margin-right: 15px;
    }
  }
  .checkout-billing {
    padding: 0 15px;
  }
  .woocommerce-info {
    padding: 0 15px;
  }
  .post-entry {
    .summary {
      .content-holder {
        padding: 0 50px;
      }
    }
  }
  .post-pagination {
    a {
      &:hover {
        background-color: #000000;
        color: #ffffff;
      }
    }
  }
  .post-single-pagination {
    .arrow-box {
      &:hover {
        background-color: #000000;
        color: #ffffff;
      }
    }
  }
  .social-links {
    &__item {
      a {
        &:hover {
          background-color: #000;
          border-color: #000;
          color: #fff;
        }
      }
    }
  }
  .related-post {
    .desc {
      padding-left: 15px;
    }
  }
  .related-post-card {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
    &:nth-child(odd) {
      margin-right: 20px;
    }
  }
  .demo-block {
    margin-bottom: 100px;
  }
  .demo-block-cover {
    will-change: background-position-y;
    transition: background-position-y 1s ease;
  }
  .imac-holder {
    &:hover {
      .demo-block-cover {
        background-position-y: 100%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu-top {
    .navbar {
      top: 65px;
    }
    &:not(.scrolled):not(.is-sticky) {
      .nav-dark {
        .fa-search {
          color: #ffffff;
        }
      }
    }
  }
  .projects-1 {
    .isotope-filter {
      min-height: 248px;
    }
  }
  .team-card-1 {
    figcaption {
      left: 20px;
      right: 20px;
      bottom: 30px;
    }
  }
  .project-1-item {
    figcaption {
      left: 10px;
      right: 10px;
    }
  }
  .contact-1-board--title {
    font-size: 35px;
  }
  .contact-1-board {
    .fa-pencil-alt {
      font-size: 25px;
      margin-top: 9px;
    }
  }
  .client-logo {
    &:nth-child(n+4) {
      margin-top: 30px;
    }
  }
  .quote-card {
    blockquote {
      padding: 30px;
    }
    .quote-author-holder {
      padding: 15px 20px;
    }
  }
}

@media (max-width: 991px) {
  .menu-top {
    padding: 0 2.5%;
    &:not(.is-sticky) {
      &.header-dark {
        background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.98) 19%, rgba(0, 0, 0, 0.89) 90%, rgba(0, 0, 0, 0.88) 100%);
      }
    }
    .navbar {
      position: fixed;
      left: 0;
      right: 0;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 2.5% 5px 2.5%;
      background-color: #fff;
      border-top: 1px solid #ececec;
      box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.1);
      transform: translateX(-200%);
      transition: transform .2s ease-out;
      &.opened {
        transform: translateX(0);
      }
      &__item {
        margin-top: 5px;
      }
      .text-xs-primary {
        font-weight: 500;
      }
    }
  }
  .search-1 {
    margin-left: auto;
    margin-right: 20px;
  }
  .toggle-header {
    &.opened {
      span {
        background-color: rgba(0,0,0,0) !important;
        &:before {
          top: 0;
          transform: rotate(45deg);
        }
        &:after {
          bottom: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
  .product-left {
    margin-bottom: 40px;
  }
  .cart-buttons {
    .btn {
      &:last-child {
        margin-top: 20px;
      }
    }
  }
}

@media (min-width: 992px) {
  .menu-top {
    &:not(.is-sticky) {
      .nav-dark {
        .navbar__item {
          &:not(.active) {
            &:hover {
              &:before {
                background-color: #ffffff;
              }
            }
          }
          .text-xs-primary {
            color: #ffffff;
          }
        }
      }
    }
    &.scrolled {
      .navbar {
        height: 17px;
      }
      .search-1 {
        height: 19px;
      }
      .nav-dark,
      .nav-white {
        .toggle-header {
          span {
            background-color: rgba(0,0,0,0);
            &:before {
              top: 0;
              transform: rotate(45deg);
            }
            &:after {
              bottom: 0;
              transform: rotate(-45deg);
            }
          }
        }
      }

    }
    .navbar {
      overflow: hidden;
      height: 0;
      transition: height 0.3s;
      &__item {
        transition: color .25s cubic-bezier(.49,.67,.72,.7);
        &:not(.active) {
          &:before {
            content: "";
            background-color: rgba(0, 0, 0, 0.84);
            display: block;
            height: 1px;
            left: -100%;
            margin-top: -0.5px;
            position: absolute;
            top: 50%;
            visibility: hidden;
            width: 100%;
            z-index: 0;
          }
          &:hover {
            &:before {
              background-color: rgba(0, 0, 0, 0.76);
              animation: 0.9s ease 0s normal none 1 running menu_hover_2;
            }
          }
        }
        .text-xs-primary {
          display: block;
          padding: 0 10px;
        }
        & + .navbar__item {
          margin-left: 15px;
        }
      }
    }
  }
  .search-1 {
    overflow: hidden;
    height: 0;
    transition: height 0.3s;
    margin-left: 20px;
  }
  .projects-1 {
    .isotope-filter {
      min-height: 272px;
    }
  }
  .team-card-1 {
    figcaption {
      left: 50px;
      right: 50px;
      bottom: 50px;
    }
  }
  .project-1-item {
    figcaption {
      left: 20px;
      right: 20px;
    }
  }
  .contact-1-board {
    .fa-pencil-alt {
      font-size: 32px;
      margin-top: 15px;
    }
  }
  .quote-card {
    blockquote {
      padding: 54px 50px 55px;
    }
  }
  .product-left {
    flex: 0 0 calc(75% - 9px);
    max-width: calc(75% - 9px);
  }
  .product-right {
    flex: 0 0 calc(25% - 9px);
    max-width: calc(25% - 9px);
    margin-left: 18px;
  }
  .cart-buttons {
    .btn {
      &:last-child {
        margin-left: 15px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .menu-top {
    padding: 3px 20px;
    .navbar__item {
      .text-xs-primary {
        font-size: 13px;
      }
    }
  }
  .toggle-header {
    margin-left: 20px;
  }
  .client-logo {
    img {
      width: 90%;
      max-width: 90%;
    }
  }
  .quote-card {
    .quote-author-holder {
      padding: 10px 20px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
   .divider-intro-1 {
     margin-top: 100px;
   }
   .divider-intro-1--text {
     font-size: 30px;
   }
}

@media (min-width: 1200px) {
  .menu-top {
    padding: 3px 38px;
  }
  .toggle-header {
    margin-left: 36px;
  }
  .divider-intro-1 {
    margin-top: 206px;
  }
  .quote-card {
    .quote-author-holder {
      padding: 20px 50px;
    }
  }
}