[class^="container"] {
  padding: 0 !important;
  margin: 0;
}

[class^="col-"] {
  padding: 0;
}

.row {
  margin: 0 !important;
}

.main-wrapper {
  max-width: 1180px !important;
  margin: 0 auto;
  width: 95% !important;
}

.navbar {
  padding: 0;
}

.md-mgl-a {
  @media (min-width: 768px) {
    margin-left: auto;
  }
}

.lg-mgl-a {
  @media (min-width: 992px) {
    margin-left: auto;
  }
}

.mgl-15 {
  margin-left: 15px;
}

.mgl-a {
  margin-left: auto;
}

.mgt-20 {
  margin-top: 20px;
}

.mgt-50 {
  margin-top: 50px;
}

.mgb-25 {
  margin-bottom: 25px;
}

.mgb-40 {
  margin-bottom: 40px;
}

.mgb-50 {
  margin-bottom: 50px;
}

.mgb-70 {
  margin-bottom: 70px;
}

.mgb-100 {
  margin-bottom: 100px;
}

.mgb-10 {
  margin-bottom: 10px;
}

.mgb-20 {
  margin-bottom: 20px;
}

.md-mgr-a {
  @media (min-width: 768px) {
    margin-right: auto;
  }
}

.mgr-5 {
  margin-right: 5px;
}

.mgr-10 {
  margin-right: 10px;
}

.mgr-20 {
  margin-right: 20px;
}

.mgr-md-20 {
  @media (min-width: 768px) {
    margin-right: 20px;
  }
}

.mgr-15 {
  margin-right: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mgr-a {
  margin-left: auto;
}

.mgl-10 {
  margin-left: 10px;
}

.mgl-20 {
  margin-left: 20px;
}

.mgl-md-20 {
  @media (min-width: 768px) {
    margin-left: 20px;
  }
}

.mgt-a {
  margin-top: auto;
}

.mgt-100 {
  margin-top: 100px;
}

.pd-0 {
  padding: 0 !important;
}

.bd-0 {
  border: none !important;
}

.bd-rd-0 {
  border-radius: 0!important;
}

.pdt-30 {
  padding-top: 30px;
}

.bd-t-light-gray {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.absolute-fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.transition {
  transition: all 0.3s ease 0s;
}

.tt-up {
  text-transform: uppercase;
}

.resize-none {
  resize: none;
}

.btn {
  font-size: 16px;
  line-height: 1;
  &:not(.pd-13-26):not(.pd-10-30):not(.pd-0) {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;
  }
  transition: .25s ease-out;
  &.black {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
  }
  &.white {
    color: #000;
    background-color: #fff;
    border: 1px solid #000000;
  }
  &.white-light-green {
    color: #22cb8f;
    background-color: #fff;
    border: 1px solid #fff;
  }
  &.light-green-white {
    color: #fff;
    background-color: #22cb8f;
    border: 1px solid #22cb8f;
  }
  &.fz-14 {
    font-size: 14px;
  }
  &.pd-13-26 {
    padding: 13px 26px;
  }
  &.pd-10-30 {
    padding: 10px 30px;
  }
}

.link-underline {
  &:hover {
    color: currentColor;
    text-decoration: underline;
  }
}

.pd-h-60 {
  padding-right: 60px;
  padding-left: 60px;
}

.bordered-30 {
  border-radius: 30px;
}

.scroller-holder {
  border: 1px solid #ffffff;
  border-radius: 30px;
  font-size: 13px;
  height: 40px;
  width: 20px;
  .fa-long-arrow-alt-down {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
  }
}

.intro-title-wrap {
  margin-bottom: 50px;
}

.intro-title {
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    display: block;
    transform: translateY(-50%);
    width: 1px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  &:before {
    left: -11px;
  }
  &:after {
    right: -11px;
  }
  .lines {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      display: block;
      transform: translateY(-50%);
      width: 1px;
      background-color: rgba(0, 0, 0, 0.3);
    }
    &:before {
      left: -22px;
    }
    &:after {
      right: -22px;
    }
  }
}

.fade.in {
  opacity: 1;
}

.nav-tabs {
  border-bottom: none;
}

.intro-description {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #9e9e9e;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  backface-visibility: hidden;
}

.us-s-n {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ov-h {
  overflow: hidden;
}

.show {
  display: block !important;
}

.f-z-14 {
  font-size: 14px;
}

.b-sh-n {
  box-shadow: none;
}

.o-n {
  outline: none;
}
.bg-white {
  background-color: #ffffff;
}

.banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

.cursor-pointer {
  cursor: pointer;
}

.pd-md-vertical-150 {
  padding: 150px 0;
}

.bg-black {
  background-color: #000000;
}

.bg-white {
  background-color: #ffffff;
}

.img-circle {
  border-radius: 50%;
}

.max-w-100 {
  max-width: 100%;
}

.title-link {
  color: #000;
  &:hover {
    color: #000;
  }
}

.col-xs-12 {
  @media (max-width: 575px) {
    width: 100%;
  }
}

.ws-nw {
  white-space: nowrap;
}

.text-underline {
  text-decoration: underline !important;
}