// LANDING-1 //
.intro-tabs {
  .tab-pane {
    .price-card-title {
      margin-bottom: 50px;
    }
    [class^="fa"] {
      margin-bottom: 20px;
    }
  }
  .nav-tabs {
    margin-top: 41px;
    &__item {
      padding-bottom: 1px;
      transition: color .15s linear;
      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #22cb8f;
        transition: width .15s ease-in-out;
      }
      &.active {
        color: #22cb8f;
        &:before {
          width: 100%;
        }
      }
      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }
}

.service-card-1 {
  height: 300px;
  padding: 10px;
  background-color: #fff;
  transition: background-color .15s ease;
  .text-white {
    opacity: 0;
  }
  .fa {
    font-size: 40px;
    margin-bottom: 20px;
    transition: color .15s ease;
  }
  .title {
    transform-origin: right top 0;
  }
  &:hover {
    background-color: #22cb8f;
    .title {
      opacity: 0;
      transform: scaleX(0);
    }
    .fa {
      color: #ffffff !important;
    }
    .text-white {
      opacity: 1;
    }
  }
}

.team-cards-1 {
 .owl-stage {
   display: flex;
 }
  .owl-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin-top: 24px;
  }
  .owl-prev {
    margin-right: 11px;
  }
  .owl-prev,
  .owl-next {
    background-color: rgba(0,0,0,0);
    border: none !important;
    outline: none !important;
    &.disabled {
      cursor: default;
    }
    &:not(.disabled) {
      span {
        color: #22cb8f;
      }
    }
  }
}

.team-card-1 {
  position: relative;
  img {
    width: 100%;
    max-width: 100%;
  }
  .overlay {
    opacity: 0;
    background-color: #000000;
    height: 70px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
  }
  figcaption {
    position: absolute;
    z-index: 10;
  }
  figcaption {
    opacity: 0;
    transition: all 0.3s ease 0s;
  }
  &:hover {
    .overlay {
      height: 100%;
      opacity: .6;
    }
    figcaption {
      opacity: 1;
    }
  }
  .team-card-1-user-position {
    margin: 12px 0 25px;
  }
}

.owl-stage-outer {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.projects-1 {
  .filter-wrapper {
    padding: 0 15px;
  }
  .isotope-filter {
    a {
      padding-bottom: 2px;
      transition: color .15s ease-in-out;
       &:after {
         content: '';
         display: block;
         position: absolute;
         bottom: 0;
         left: 0;
         width: 0;
         height: 2px;
         background-color: #22cb8f;
         transition: width .15s ease-in-out;
       }
      &.active,
      &:hover {
        color: #22cb8f;
        &:after {
        width: 30px;
        }
      }
    }
  }
}

.testimonials-1 {
  max-width: 833px;
  margin: 0 auto;
  .owl-stage-outer {
    margin-bottom: 70px;
  }
  .owl-stage {
    display: flex;
    align-items: flex-start;
  }
  .owl-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
  }
  .owl-prev {
    margin-right: 11px;
  }
  .owl-prev,
  .owl-next {
    background-color: rgba(0,0,0,0);
    border: none !important;
    outline: none !important;
    &.disabled {
      cursor: default;
    }
    &:not(.disabled) {
      span {
        color: #22cb8f;
      }
    }
  }
}

.testimonial-1-item {
  padding: 24px 32px 0;
  cite {
    display: block;
    width: 100%;
    max-width: 100%;
  }
 .fa-quote-left {
   position: absolute;
   font-size: 32px;
   color: #22cb8f;
   &.top {
     top: 0;
     left: 0;
   }
   &.bottom {
     transform: rotate(180deg);
     right: 0;
     bottom: 0;
   }
 }
}

.pricing-cards-1 {
  margin-top: 80px;
}

.project-1-item {
  padding: 0 15px;
  img {
    width: 100%;
    max-width: 100%;
  }
  &:hover {
    .overlay {
      opacity: .6;
    }
  }
  .overlay {
    background-color: #000000;
    opacity: 0;
    transition: opacity .25s cubic-bezier(.54,.64,.49,.61);
  }
  figcaption {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    transform: translateY(200%);
    transition: transform .25s cubic-bezier(.54,.64,.49,.61);

  }
  &:hover {
    figcaption {
      transform: translateY(0);
    }
  }
  .project-1-item--title {
    margin-bottom: 9px;
    &:hover {
      color: #fff ;
    }
  }
}

.pricing-card-1 {
  padding: 20px 15px;
  transition: .2s ease;
  &:not(.active) {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  &.active {
    background-color: #22cb8f;
    *:not(.btn) {
      color: #fff;
    }
  }
  [class^="fa"] {
    font-size: 56px;
    margin: 24px 0 33px;
  }
  .package-advantages {
    margin-top: 39px;
  }
}

.blog-1-item {
  &:hover {
    .blog-1-item__content {
      opacity: 1;
    }
  }
  &__content {
    opacity: 0;
    z-index: 10;
  }
  &--inner-text {
    max-width: 100%;
  }
  img {
    width: 100%;
  }
  .overlay {
    background-color: rgba(0, 0, 0, .5);
    height: 70px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.3s ease 0s;
  }
  &:hover {
    .overlay {
      height: 100%;
      opacity: 1;
    }
  }
}

.blog-1-item-info {
  .fa-calendar-alt {
    font-size: 15px;
    margin-top: 1px;
    margin-right: 6px;
  }
  .fa-comments {
    font-size: 18px;
    margin-bottom: 2px;
    margin-right: 6px;
  }
}

.blog-1-item-date {
  margin-right: 20px;
}

.blog-1-item-title {
  margin-bottom: 10px;
}

.main-divider {
  padding: 50px 0;
  &--text {
    margin-right: 20px;
  }
}

.map-1-cover {
  width: 100%;
  max-width: 100%;
}

.board-1-switcher {
  right: 0;
  text-align: center;
  width: 50px;
  background-color: black;
  border-radius: 50px 0 0 50px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  z-index: 10;
  [class^="fa"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: opacity .2s ease-out;
  }
  &:not(.map-closed) {
    .fa-envelope {
      opacity: 0;
    }
  }
  &.map-closed {
    .fa-map {
      opacity: 0;
    }
    & + .contact-1-board {
      transform: scaleX(0);
      opacity: 0;
      clip: rect(0,0,0,0);
    }
  }
}

.contact-1-board {
  z-index: 1;
  transition: all 0.3s ease 0s;
  transform-origin: right top 0;
  .fa-pencil-alt {
    margin-left: 20px;
  }
  .board-1--title-icon {
    margin-bottom: 30px;
  }
}

.contact-input-1-holder {
  label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 300;
    transition: all 0.3s ease 0s;
  }
  .input-line {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    transition: all 0.3s ease 0s;
    &.line-1 {
      width: 100%;
      &:not(.gray) {
        background-color: rgba(255, 255, 255, 0.38);
      }
      &.gray {
        background-color: rgb(183, 183, 183);
      }
    }
    &.line-2 {
      width: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  & + & {
    margin-top: 30px;
  }
}

.contact-input-1 {
  min-height: 40px;
  background-color: rgba(0,0,0,0);
  &:focus {
    & ~ .line-2 {
      width: 100%;
    }
    & + label {
      font-size: 11px;
      top: -20px;
    }
  }
  &:-webkit-autofill {
    font-size: 14px;
    font-weight: 300;
    -webkit-text-fill-color: #ffffff;
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #000000 inset;
  }
}

.contact-submit-1 {
  margin-top: 28px;
}

.contact-1-list {
  margin-top: 37px;
  &__item {
    & + & {
      margin-top: 35px;
    }
    [class^="fa"] {
      font-size: 24px;
      margin-right: 16px;
    }
  }
}

.footer-1 {
  padding: 100px 0;
  background-color: #fff;
}

.footer-1-brand {
  max-width: 250px;
}

.footer-1-social-icon {
  a {
    position: relative;
    width: 34px;
    height: 34px;
    border: 1px solid #9e9e9e;
    border-radius: 50%;
    font-size: 16px;
    color: #9e9e9e;
    transition: .15s ease-out;
  }
  & + & {
    margin-left: 8px;
  }
}

.footer-1-privacy--text {
  margin: 38px 0 30px;
}
// END LANDING-1 //


// ABOUT PAGE //
.client-logo {
  transition: all 0.3s ease 0s;
  &:not(:hover) {
    opacity: .3;
  }
  &:hover {
    opacity: 1;
  }
}

.section-intro {
  .price-card-title {
    margin-bottom: 50px;
  }
}

.quotes-wrapper {
  background-image: url(http://via.placeholder.com/627x612);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .overlay {
    background-color: rgba(0,0,0,.9);
  }
  .owl-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin-top: 80px;
    .owl-prev {
      margin-right: 11px;
    }
    .owl-prev,
    .owl-next {
      background: rgba(0,0,0,0);
      border: none;
      outline: none;
    }
  }
}

.quotes-cards {
  z-index: 11;
  .owl-stage {
    display: flex;
    align-items: flex-start;
  }
}
.quote-card {
  margin-right: 20px;
  .quote-author-holder {
    figure {
      margin-right: 20px;
    }
  }
}
// END ABOUT PAGE //


// SKILLS PROGRESS //
.progress-item {
  & + .progress-item {
    margin-top: 30px;
  }
  .bar-wrap {
    background-color: #fff;
    height: 6px;
    width: 100%;
    .bar {
      background-color: #000;
      height: 100%;
      overflow: visible !important;
      width: 0;
      will-change: width;
      transition: width 1.2s ease;
      &:after {
        background-color: #000;
        content: "";
        height: 20px;
        position: absolute;
        right: -1px;
        top: -8px;
        width: 20px;
        border-radius: 50%;
      }
    }
  }
}
// END SKILLS PROGRESS //


// PORTFOLIO SINGLE //
.portfolio-item-menu {
  &__item {
    & + & {
      margin-top: 10px;
    }
    b {
      min-width: 90px;
      margin-right: 40px;
    }
  }
}
.social-links {
  &__item {
    & + & {
      margin-left: 7px;
    }
    a {
      position: relative;
      width: 34px;
      height: 34px;
      border: 1px solid #9e9e9e;
      border-radius: 50%;
      font-size: 16px;
      color: #9e9e9e;
      transition: .15s ease-out;
    }
  }
}
.portfolio-item-description {
  p {
    & + p {
      margin-top: 20px;
    }
  }
}
// END PORTFOLIO SINGLE //


// SHOP //
.product {
  margin-bottom: 30px;
  .actions {
    left: 0;
    position: absolute;
    right: 0;
    top: -5px;
    transition: all 0.1s ease 0s;
    a {
      background-color: white;
      border-radius: 40px;
      height: 40px;
      line-height: 40px;
      margin: 0 5px;
      position: relative;
      text-align: center;
      width: 40px;
      z-index: 0;
      transition: all 0.1s ease 0s;
      &:before {
        background-color: #f7f7f7;
        border-radius: 30px;
        content: "";
        height: 30px;
        left: 50%;
        position: absolute;
        top: 50%;
        width: 30px;
        z-index: -1;
        transition: all 0.3s ease 0s;
        transform: translate(-50%, -50%);
      }
    }
  }
  .desc {
    padding: 24px 0;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.1);
    &:before {
      content: "";
      background-color: white;
      height: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      transition: all 0.3s ease 0s;
      transform: translateY(-100%);
    }
  }
  .title-link {
    margin-bottom: 5px;
  }
  .price {
    display: block;
    margin-top: 20px;
  }
}
.widget-title {
  font-size: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  &:after {
    background-color: #000;
    content: '';
    height: 2px;
    width: 70px;
    position: absolute;
    bottom: -1px;
    left: 0;
  }
}
.widget {
  & + & {
    margin-top: 30px;
  }
}
.widget-search {
  input[type="search"] {
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    height: 50px;
    padding: 0;
    text-indent: 20px;
  }
  button {
    padding: 0 5px;
  }
}
.product-category {
  &__item {
    a {
      &:hover {
        color: rgba(0, 0, 0, 0.54);
      }
    }
    & + & {
      margin-top: 5px;
    }
  }
}
.posts-list {
  &__item {
    & + & {
      margin-top: 30px;
    }
    figure {
      margin-right: 20px;
    }
    .post-name {
      &:hover {
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }
}
// END SHOP //


// PRODUCT PAGE //
.product-tabs {
  border-bottom: 1px solid #d6d6d6;
}
.product-tab {
  padding: 0 35px 25px;
  color: rgba(0, 0, 0, 0.54) !important;
  &:before {
    background-color: #000;
    bottom: -1px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 0;
    transition: all 0.3s ease 0s;
  }
  &.active {
    &:before {
      width: 100%;
    }
  }
}
.product-desc-wrapper {
  p + p {
    margin-top:  20px;
  }
}
.product-specs {
  span {
    padding: 10px 80px 9px;
    width: 50%;
    &:first-child {
      border-right: 1px solid #d6d6d6;
    }
  }
}
.comment-wrapper {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  & + & {
    margin-top: 30px;
  }
  .avatar {
    margin-right: 40px;
  }
  .img-circle {
    width: 115px;
  }
  .star-rating {
    margin: 5px 0 15px;
    .fa-star {
      & + .fa-star {
        margin-left: 2px;
      }
    }
  }
}
.comment-content {
  a {
    &:hover {
      color: #000000;
    }
  }
}
.comment-respond {
  margin-top: 80px;
  [class^="col"] {
    padding: 0 10px;
  }
}
.input-holder {
  display: block;
  position: relative;
  input {
    height: 40px;
  }
  textarea {
    height: 91px;
  }
  input,
  textarea {
    border: 0;
    padding: 0;
    width: 100%;
    outline: none;
    transition: all 0.3s ease 0s;
    &:focus {
      & ~ .line-2 {
        width: 100%;
      }
      & + label {
        color: #000000;
        font-size: 11px;
        top: -44px;
      }
    }
  }
  label {
    display: block;
    left: 0;
    margin: 0;
    position: absolute;
    top: -24px;
    transition: all 0.3s ease 0s;
  }
  .line-1 {
    background-color: rgba(0, 0, 0, 0.38);
    width: 100%;
  }
  .line-2 {
    background-color: #000000;
    width: 0;
  }
  .line-1,
  .line-2 {
    bottom: 0;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.3s ease 0s;
  }
}
.product-slider {
  .owl-stage {
    display: flex;
  }
  .owl-nav {
    display: none !important;
  }
  .owl-dots {
    display: flex;
    justify-content: center;
    transform: translateY(-200%);
  }
}
.product-summary {
  .price-wrap {
    .reg {
      margin-right: 15px;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background-color: #000000;
      }
    }
  }
  .quantity,
  .size,
  .color,
  .tags {
    .action-label {
      display: inline-block;
      min-width: 45px;
      margin-right: 40px;
      &:after {
        content: ":";
        position: absolute;
        right: 0;
      }
    }
  }
  .color {
    p:last-child {
      margin-left: 86px;
    }
  }
  .nice-select {
    width: 80px;
    .list {
      border-radius: 0 0 2px 2px;
      width: 100%;
    }
  }
  .wishlist {
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 30px;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
  }
}
.quantity-field {
  button {
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    width: 32px;
    height: 38px;
  }
  input {
    outline: none;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 38px;
    padding: 0;
    text-align: center;
    width: 32px;
  }
}
.owl-dots {
  .owl-dot {
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    &:not(.active) {
      span {
        background: #D6D6D6;
      }
    }
    &.active {
      span {
        background: #869791;
      }
    }
    span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity .2s ease;
      border-radius: 30px;
    }
  }
}
.product-radio {
  border: 2px solid;
  border-radius: 20px;
  display: inline-block;
  height: 20px;
  position: relative;
  width: 20px;
  & + & {
    margin-left: 7px;
  }
  input {
    cursor: pointer;
    border: 0 none;
    height: 22px;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 20px;
    &:checked {
      & + label {
        transform: scale(1.08);
      }
    }
  }
   label {
    border-radius: 18px;
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    text-indent: -9999em;
    top: 0;
    transform: scale(0);
    transition: all 0.3s ease 0s;
  }
}
// END PRODUCT PAGE //

// CART PAGE //
.cart-product-table {
  > thead {
    > tr {
      > th {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
        padding-bottom: 17px;
        padding-top: 17px;
        white-space: nowrap;
      }
    }
  }
  > tbody {
    > tr {
      > td {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 20px;
        padding-top: 20px;
      }
    }
  }
  .desc {
    a {
      &:hover {
        color: #000;
      }
    }
  }
  .product-price,
  .quantity-field,
  .product-price,
  .remove-product {
    vertical-align: middle;
  }
  .remove-product {
    a {
      display: block;
      width: 20px;
    }
  }
}
.calculate-tax,
.coupon-box,
.subtotal-box {
  padding: 0 15px;
}
.shipping-method {
  & + & {
    margin-top: 5px;
  }
}
.custom-radio {
  input[type="radio"]:checked {
    + label {
      &:after {
        background-color: #000000;
      }
    }
  }
  label {
    padding-right: 20px;
    &:after {
      border: 1px solid rgba(0, 0, 0, .3);
      border-radius: 50%;
      content: "";
      height: 12px;
      right: 0;
      position: absolute;
      top: 5px;
      width: 12px;
      transition: .2s ease-in-out;
    }
  }
}
.table-scroll-holder {
  width: 100%;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
// END CART PAGE //

// CHECKOUT PAGE //
.checkout-reviews-order {
  padding: 0 15px;
  table {
   > thead {
     > tr {
       > th {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
          padding-bottom: 17px;
          padding-top: 17px;
          white-space: nowrap;
          padding-left: 20px;
          padding-right: 20px;
       }
      }
    }
    > tbody {
      > tr {
        > td {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          padding-bottom: 17px;
          padding-top: 17px;
          white-space: nowrap;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
    a {
      &:hover {
        color: #000;
      }
    }
  }
}
.woocommerce-info-toggle {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  &:hover {
    color: #000;
  }
}
.wc_payment_methods  {
  .payment_box {
    background-color: #fafafb;
    color: rgba(0, 0, 0, 0.54);
    display: none;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 10px 30px;
  }
}
.wc_payment_method {
  & + & {
    margin-top: 5px;
  }
}
.custom-checkbox {
  input {
    &:checked {
      & + label {
        &:before {
          background-color: #000000;
        }
        &:after {
          opacity: 1;
        }
      }
    }
  }
  label {
   padding-left: 25px;
    &:before {
      border: 1px solid rgba(0, 0, 0, 0.1);
      content: "";
      height: 20px;
      left: 0;
      position: absolute;
      top: 50%;
      width: 20px;
      transition: all 0.3s ease 0s;
      transform: translateY(-50%);
    }
    &:after {
      color: #fff;
      content: '\f00c';
      font-family: "FontAwesome";
      left: 2px;
      opacity: 0;
      position: absolute;
      top: 0;
    }
  }
}
.forgot-password {
  &:hover {
    color: #000;
  }
}
// END CHECKOUT PAGE //

// BLOG PAGE //
.post-entry {
  & + & {
    margin-top: 30px;
  }
}
.post-pagination {
   a {
     display: block;
     height: 40px;
     line-height: 40px;
     text-align: center;
     width: 40px;
     transition: .2s ease;
     &:not(.active) {
       background-color: #ffffff;
       color: #000;
     }
     &.active {
       background-color: #000000;
       color: #ffffff;
     }
   }
 }
// END BLOG PAGE //

// BLOG SINGLE PAGE //
.tag-cloud {
  a {
      &:hover {
        color: #000000;
      }
  }
}
.post-single-pagination {
  .arrow-box {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    transition: .2s ease;
    color: #000;
  }
  .text-gray {
    &:hover {
      color: rgba(0, 0, 0, 0.54);
    }
  }
}
.related-post-card {
  .desc {
    a {
      transition: .2s ease;
      &:hover {
        color: #000000;
      }
    }
  }
}
// END BLOG SINGLE PAGE //


// DEMO TEMPLATE PAGE //
.demo-block {
  padding: 0 15px;
  .demo-block-cover {
    top: 20px;
    bottom: 28.5%;
    left: 20px;
    right: 20px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
  }
}
// END DEMO TEMPLATE PAGE //