<section class="section-intro" id="about-us-1">
    <div class="intro-tabs d-flex flex-column align-items-center">
        <div class="tab-content w-100">
            <div class="tab-pane text-center fade show active" id="nav-story" role="tabpanel" aria-labelledby="nav-story-tab">
                <p class="price-card-title tt-up">our story</p>
                <span class="fa fa-calendar-check fz-25"></span>
                <article class="text-gray-primary ptSerif f-s-i">
                    Today the Irish design sector is 25% Female to 75% Male (Policy Framework, 2016). This ratio is simply not good
                    enough. Gender balance was the last item on the last page ofthe Policy framework for Design Enterprise in Ireland.
                    It’s time to change this.
                </article>
            </div>
            <div class="tab-pane text-center fade" id="nav-strategy" role="tabpanel" aria-labelledby="nav-strategy-tab">
                <p class="price-card-title tt-up">our milestones</p>
                <span class="fa fa-calendar-check fz-25"></span>
                <article class="text-gray-primary ptSerif f-s-i">
                    Today the Irish design sector is 25% Female to 75% Male (Policy Framework, 2016). This ratio is simply not good
                    enough. Gender balance was the last item on the last page ofthe Policy framework for Design Enterprise in Ireland.
                    It’s time to change this.
                </article>
            </div>
            <div class="tab-pane text-center fade" id="nav-team" role="tabpanel" aria-labelledby="nav-team-tab">
                <p class="price-card-title tt-up">our strategy</p>
                <span class="fa fa-calendar-check fz-25"></span>
                <article class="text-gray-primary ptSerif f-s-i">
                    Today the Irish design sector is 25% Female to 75% Male (Policy Framework, 2016). This ratio is simply not good
                    enough. Gender balance was the last item on the last page ofthe Policy framework for Design Enterprise in Ireland.
                    It’s time to change this.
                </article>
            </div>
        </div>
        <nav>
            <div class="nav nav-tabs about-tabs" role="tablist">
                <a class="nav-item nav-tabs__item nav-link text-xs-primary tt-up active pd-0 bd-0 bd-rd-0 relative"
                   id="nav-story-tab" data-toggle="tab" href="#nav-story" role="tab"
                   aria-controls="nav-story" aria-selected="true">
                    our story
                </a>
                <a class="nav-item nav-tabs__item nav-link text-xs-primary tt-up pd-0 bd-0 bd-rd-0 relative"
                   id="nav-strategy-tab" data-toggle="tab" href="#nav-strategy" role="tab"
                   aria-controls="nav-strategy" aria-selected="false">
                    our milestones
                </a>
                <a class="nav-item nav-tabs__item nav-link text-xs-primary tt-up pd-0 bd-0 bd-rd-0 relative"
                   id="nav-team-tab" data-toggle="tab" href="#nav-team" role="tab"
                   aria-controls="nav-team" aria-selected="false">
                    our strategy
                </a>
            </div>
        </nav>
    </div>
</section>