<div class="banner-1 relative" id="banner-1">
    <div class="banner-1__content d-flex flex-column align-items-center justify-content-center relative">
        <h3 class="tt-up banner-title text-white">Creative multipage</h3>
        <img src="http://via.placeholder.com/160x80" alt="Logo" class="banner__logo">
        <a href="" class="btn bordered-30 black tt-up">start a tour</a>
        <a class="scroller-holder text-center text-white us-s-n relative ov-h" data-href="#about-1">
            <span class="fa fa-long-arrow-alt-down text-white"></span>
        </a>
    </div>
    <div class="banner-bg"></div>
    <div class="overlay"></div>
</div>