<div class="banner-3 relative mgb-100" id="banner-1">
    <div class="banner-3__content h-100 d-flex flex-column align-items-center justify-content-center ov-h">
        <h3 class="tt-up banner-title text-black mgb-40">Creative HTML5 Template</h3>
        <img src="http://via.placeholder.com/160x80" alt="Logo" class="banner__logo mgb-40">
        <a href="" class="btn bordered-30 black tt-up">purchase now</a>
    </div>
</div>