<div class="banner-2 relative" id="banner-1">
    <div class="banner-2__content relative d-flex align-items-center justify-content-md-between relative main-wrapper">
        <div class="banner-text-content d-flex flex-column align-items-md-start">
            <h3 class="banner-title fw-700">About Us</h3>
            <p class="banner-subtitle text-gray">Lorem ipsum dolor sit amet, consectetur</p>
            <p class="banner-subtitle text-gray">adipisicing elit, sed do eiusmod tempor incididunt.</p>
        </div>
        <% include header-breadcrumb.ejs %>
    </div>
    <div class="overlay"></div>
</div>