<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/owl.carousel.min.js"></script>
<script src="js/vendor/masonry.pkgd.min.js"></script>
<script src="js/vendor/isotope.pkgd.min.js"></script>
<script src="js/vendor/jquery.nice-select.min.js"></script>
<script src="js/vendor/selectize.min.js"></script>
<script src="js/all.js"></script>
</body>
</html>