<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="Themeforest">
    <title>Themeforest</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="css/vendor/selectize.min.css">
    <link rel="stylesheet" href="css/vendor/nice-select.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="http://codepixar.com/typo/php/img/favicon.png">
</head>
<body>