<section class="section-intro blog-1" id="blog-1">
    <div class="intro-title-wrap d-flex justify-content-center">
        <div class="intro-title relative">
            <span class="tt-up">blog</span>
            <div class="lines"></div>
        </div>
    </div>
    <div class="d-flex flex-wrap">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 blog-1-item relative">
           <div class="overlay"></div>
           <img src="http://via.placeholder.com/391x300" alt="Img">
           <div class="blog-1-item__content d-flex flex-column justify-content-center absolute-fit transition">
               <div class="blog-1-item-info d-flex flex-wrap align-items-start">
                   <div class="blog-1-item-date d-flex align-items-start">
                       <span class="fa fa-calendar-alt text-white"></span>
                       <span class="blog-1-item-info--text ptSerif text-white f-s-i">24th August</span>
                   </div>
                   <div class="blog-1-item-comments d-flex align-items-center">
                       <span class="fa fa-comments text-white"></span>
                       <span class="blog-1-item-info--text ptSerif text-white f-s-i">24th August</span>
                   </div>
                   <article class="blog-1-item--inner-text d-flex flex-column justify-content-start w-100">
                       <a href="" class="blog-1-item-title text-white f-w-500 l-h-1">Beautiful Day with MOS</a>
                       <p class="text-white ptSerif f-z-14 f-s-i">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                           ut labore et dolore.
                       </p>
                   </article>
                   <a href="" class="btn light-green-white bordered-30 f-z-14 tt-up pd-13-26">read more</a>
               </div>
           </div>
       </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 blog-1-item relative">
            <div class="overlay"></div>
            <img src="http://via.placeholder.com/391x300" alt="Img">
            <div class="blog-1-item__content d-flex flex-column justify-content-center absolute-fit transition">
               <div class="blog-1-item-info d-flex flex-wrap align-items-start">
                   <div class="blog-1-item-date d-flex align-items-start">
                       <span class="fa fa-calendar-alt text-white"></span>
                       <span class="blog-1-item-info--text ptSerif text-white f-s-i">24th August</span>
                   </div>
                   <div class="blog-1-item-comments d-flex align-items-center">
                       <span class="fa fa-comments text-white"></span>
                       <span class="blog-1-item-info--text ptSerif text-white f-s-i">24th August</span>
                   </div>
                   <article class="blog-1-item--inner-text d-flex flex-column justify-content-start w-100">
                       <a href="" class="blog-1-item-title text-white f-w-500 l-h-1">Beautiful Day with MOS</a>
                       <p class="text-white ptSerif f-z-14 f-s-i">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                           ut labore et dolore.
                       </p>
                   </article>
                   <a href="" class="btn light-green-white bordered-30 f-z-14 tt-up pd-13-26">read more</a>
               </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 blog-1-item relative">
            <div class="overlay"></div>
            <img src="http://via.placeholder.com/391x300" alt="Img">
            <div class="blog-1-item__content d-flex flex-column justify-content-center absolute-fit transition">
               <div class="blog-1-item-info d-flex flex-wrap align-items-start">
                   <div class="blog-1-item-date d-flex align-items-start">
                       <span class="fa fa-calendar-alt text-white"></span>
                       <span class="blog-1-item-info--text ptSerif text-white f-s-i">24th August</span>
                   </div>
                   <div class="blog-1-item-comments d-flex align-items-center">
                       <span class="fa fa-comments text-white"></span>
                       <span class="blog-1-item-info--text ptSerif text-white f-s-i">24th August</span>
                   </div>
                   <article class="blog-1-item--inner-text d-flex flex-column justify-content-start w-100">
                       <a href="" class="blog-1-item-title text-white f-w-500 l-h-1">Beautiful Day with MOS</a>
                       <p class="text-white ptSerif f-z-14 f-s-i">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                           ut labore et dolore.
                       </p>
                   </article>
                   <a href="" class="btn light-green-white bordered-30 f-z-14 tt-up pd-13-26">read more</a>
               </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 blog-1-item relative">
            <div class="overlay"></div>
            <img src="http://via.placeholder.com/391x300" alt="Img">
            <div class="blog-1-item__content d-flex flex-column justify-content-center absolute-fit transition">
               <div class="blog-1-item-info d-flex flex-wrap align-items-start">
                   <div class="blog-1-item-date d-flex align-items-start">
                       <span class="fa fa-calendar-alt text-white"></span>
                       <span class="blog-1-item-info--text ptSerif text-white f-s-i">24th August</span>
                   </div>
                   <div class="blog-1-item-comments d-flex align-items-center">
                       <span class="fa fa-comments text-white"></span>
                       <span class="blog-1-item-info--text ptSerif text-white f-s-i">24th August</span>
                   </div>
                   <article class="blog-1-item--inner-text d-flex flex-column justify-content-start w-100">
                       <a href="" class="blog-1-item-title text-white f-w-500 l-h-1">Beautiful Day with MOS</a>
                       <p class="text-white ptSerif f-z-14 f-s-i">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                           ut labore et dolore.
                       </p>
                   </article>
                   <a href="" class="btn light-green-white bordered-30 f-z-14 tt-up pd-13-26">read more</a>
               </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 blog-1-item relative">
            <div class="overlay"></div>
            <img src="http://via.placeholder.com/391x300" alt="Img">
            <div class="blog-1-item__content d-flex flex-column justify-content-center absolute-fit transition">
               <div class="blog-1-item-info d-flex flex-wrap align-items-start">
                   <div class="blog-1-item-date d-flex align-items-start">
                       <span class="fa fa-calendar-alt text-white"></span>
                       <span class="blog-1-item-info--text ptSerif text-white f-s-i">24th August</span>
                   </div>
                   <div class="blog-1-item-comments d-flex align-items-center">
                       <span class="fa fa-comments text-white"></span>
                       <span class="blog-1-item-info--text ptSerif text-white f-s-i">24th August</span>
                   </div>
                   <article class="blog-1-item--inner-text d-flex flex-column justify-content-start w-100">
                       <a href="" class="blog-1-item-title text-white f-w-500 l-h-1">Beautiful Day with MOS</a>
                       <p class="text-white ptSerif f-z-14 f-s-i">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                           ut labore et dolore.
                       </p>
                   </article>
                   <a href="" class="btn light-green-white bordered-30 f-z-14 tt-up pd-13-26">read more</a>
               </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 blog-1-item relative">
            <div class="overlay"></div>
            <img src="http://via.placeholder.com/391x300" alt="Img">
            <div class="blog-1-item__content d-flex flex-column justify-content-center absolute-fit transition">
               <div class="blog-1-item-info d-flex flex-wrap align-items-start">
                   <div class="blog-1-item-date d-flex align-items-start">
                       <span class="fa fa-calendar-alt text-white"></span>
                       <span class="blog-1-item-info--text ptSerif text-white f-s-i">24th August</span>
                   </div>
                   <div class="blog-1-item-comments d-flex align-items-center">
                       <span class="fa fa-comments text-white"></span>
                       <span class="blog-1-item-info--text ptSerif text-white f-s-i">24th August</span>
                   </div>
                   <article class="blog-1-item--inner-text d-flex flex-column justify-content-start w-100">
                       <a href="" class="blog-1-item-title text-white f-w-500 l-h-1">Beautiful Day with MOS</a>
                       <p class="text-white ptSerif f-z-14 f-s-i">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                           ut labore et dolore.
                       </p>
                   </article>
                   <a href="" class="btn light-green-white bordered-30 f-z-14 tt-up pd-13-26">read more</a>
               </div>
            </div>
        </div>
    </div>
</section>