<article class="post-entry d-flex flex-wrap">
    <figure class="col-xs-12 col-sm-6 col-lg-6 thumb d-flex justify-content-center">
        <img src="http://via.placeholder.com/470x350" class="w-100 max-w-100">
    </figure>
    <div class="col-xs-12 col-sm-6 col-lg-6 summary d-flex align-items-center">
        <div class="content-holder">
            <div class="meta mgb-10 d-flex align-items-center">
                <time datetime="2019-09-18" class="mgr-10"><i class="far fa-calendar-alt"></i> 24th August</time> |
                <span class="mgl-10"><i class="far fa-comment-alt"></i> 31 Comments</span>
            </div>
            <a href="" class="title-link fz-18 d-inline-block mgb-20">Beautiful Day with MOS</a>
            <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore.
            </p>
            <a href="#" class="btn white bordered-30 pd-10-30 mgt-20">Read More</a>
        </div>
    </div>
</article>