<article class="d-flex flex-wrap align-items-center related-post">
    <figure class="col-xs-12 col-sm-6 thumb">
        <img src="http://via.placeholder.com/190x177" alt="" class="w-100 max-w-100">
    </figure>
    <div class="col-xs-12 col-sm-6 desc d-flex flex-column">
        <a href="#" class="fz-14 tt-up text-gray">Cultural News</a>
        <a href="#" class="tt-up text-gray mgb-10">Happy to see this Again, Thanks!</a>
        <span class="tt-up fz-14">Post By: <a href="#" class="title-link fw-500">Montanna Smith</a></span>
    </div>
</article>