<div class="widget widget-category">
    <h5 class="widget-title">Categories</h5>
    <ul class="product-category">
        <li class="product-category__item">
            <a href="" class="text-gray fz-15 relative">September 2016</a>
        </li>
        <li class="product-category__item">
            <a href="" class="text-gray fz-15 relative">August 2016</a>
        </li>
        <li class="product-category__item">
            <a href="" class="text-gray fz-15 relative">July 2016</a>
        </li>
        <li class="product-category__item">
            <a href="" class="text-gray fz-15 relative">June 2016</a>
        </li>
        <li class="product-category__item">
            <a href="" class="text-gray fz-15 relative">May 2016</a>
        </li>
        <li class="product-category__item">
            <a href="" class="text-gray fz-15 relative">April 2016</a>
        </li>
        <li class="product-category__item">
            <a href="" class="text-gray fz-15 relative">March 2016</a>
        </li>
    </ul>
</div>