<div class="widget widget-category">
    <h5 class="widget-title">Categories</h5>
    <ul class="product-category">
        <li class="product-category__item">
            <a href="" class="text-gray fz-15 relative">Audio Jungle</a>
        </li>
        <li class="product-category__item">
            <a href="" class="text-gray fz-15 relative">Audio Jungle</a>
        </li>
        <li class="product-category__item">
            <a href="" class="text-gray fz-15 relative">Audio Jungle</a>
        </li>
        <li class="product-category__item">
            <a href="" class="text-gray fz-15 relative">Audio Jungle</a>
        </li>
        <li class="product-category__item">
            <a href="" class="text-gray fz-15 relative">Audio Jungle</a>
        </li>
        <li class="product-category__item">
            <a href="" class="text-gray fz-15 relative">Audio Jungle</a>
        </li>
        <li class="product-category__item">
            <a href="" class="text-gray fz-15 relative">Audio Jungle</a>
        </li>
    </ul>
</div>