<section class="section-intro d-flex flex-wrap">
    <div class="client-logo d-flex justify-content-center col-xs-6 col-sm-4 col-md-4 col-lg-2 pd-0">
        <img src="http://via.placeholder.com/160x120" alt="">
    </div>
    <div class="client-logo d-flex justify-content-center col-xs-6 col-sm-4 col-md-4 col-lg-2 pd-0">
        <img src="http://via.placeholder.com/160x120" alt="">
    </div>
    <div class="client-logo d-flex justify-content-center col-xs-6 col-sm-4 col-md-4 col-lg-2 pd-0">
        <img src="http://via.placeholder.com/160x120" alt="">
    </div>
    <div class="client-logo d-flex justify-content-center col-xs-6 col-sm-4 col-md-4 col-lg-2 pd-0">
        <img src="http://via.placeholder.com/160x120" alt="">
    </div>
    <div class="client-logo d-flex justify-content-center col-xs-6 col-sm-4 col-md-4 col-lg-2 pd-0">
        <img src="http://via.placeholder.com/160x120" alt="">
    </div>
    <div class="client-logo d-flex justify-content-center col-xs-6 col-sm-4 col-md-4 col-lg-2 pd-0">
        <img src="http://via.placeholder.com/160x120" alt="">
    </div>
</section>