<div class="divider-intro-1 main-divider bg-black">
    <div class="main-wrapper divider-intro-1__content d-flex align-items-md-center justify-content-md-between">
        <h2 class="divider-intro-1--text text-white">Solid Satisfaction With Creative Design</h2>
        <a href="" class="btn light-green-white bordered-30 fz-14 tt-up">learn more</a>
    </div>
</div>