<div class="main-wrapper">
  <div class="footer-1-content d-flex flex-column align-items-center">
      <img src="http://via.placeholder.com/250x79" alt="Footer Logo" class="footer-1-brand">
      <span class="footer-1-privacy--text">© All rights reserved lorem ipsum dolor sit amet.</span>
      <ul class="footer-social-icons d-flex">
          <li class="footer-1-social-icon">
              <a href="" class="d-flex justify-content-center align-items-center fab fa-facebook-f ov-h"></a>
          </li>
          <li class="footer-1-social-icon">
              <a href="" class="d-flex justify-content-center align-items-center fab fa-twitter ov-h"></a>
          </li>
          <li class="footer-1-social-icon">
              <a href="" class="d-flex justify-content-center align-items-center fab fa-behance ov-h"></a>
          </li>
          <li class="footer-1-social-icon">
              <a href="" class="d-flex justify-content-center align-items-center fab fa-linkedin-in ov-h"></a>
          </li>
          <li class="footer-1-social-icon">
              <a href="" class="d-flex justify-content-center align-items-center fab fa-dribbble ov-h"></a>
          </li>
          <li class="footer-1-social-icon">
              <a href="" class="d-flex justify-content-center align-items-center fab fa-vk ov-h"></a>
          </li>
          <li class="footer-1-social-icon">
              <a href="" class="d-flex justify-content-center align-items-center fab fa-pinterest-p ov-h"></a>
          </li>
      </ul>
  </div>
</div>

