<div class="header-breadcrumb d-flex">
    <a href="" class="header-breadcrumb__item tt-up fz-14 f-w-500 relative">home</a>
    <a href="" class="header-breadcrumb__item tt-up fz-14 f-w-500 relative">pages</a>
    <a href="" class="header-breadcrumb__item current-page tt-up fz-14 f-w-500 relative">about</a>
</div>