<section class="map-holder-1 relative" id="contact-1">
    <img src="http://via.placeholder.com/1920x928" alt="Map Image" class="map-1-cover absolute-fit">
    <a class="board-1-switcher absolute text-white" id="boardSwitcher">
        <span class="fa fa-envelope absolute" id="boardSwitcher"></span>
        <span class="fa fa-map absolute" id="mapSwitcher"></span>
    </a>
    <% include write-us-board-1.ejs %>
</section>