<section class="portfolio-single">
    <div class="d-flex flex-wrap">
       <div class="col-xs-12 col-sm-12 col-md-6  portfolio-item-img">
           <figure>
               <img src="http://via.placeholder.com/590x501" alt="Item Image" class="max-w-100">
           </figure>
       </div>
        <div class="col-xs-12 col-sm-12 offset-md-1 col-md-4">
            <h4 class="fz-24 text-black mgb-25">Creative Skecthing Tool</h4>
            <p class="text-gray mgb-20">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <ul class="portfolio-item-menu mgb-25">
                <li class="portfolio-item-menu__item d-flex align-items-center text-gray">
                    <b>Rating</b>
                    <span class="fz-14">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </li>
                <li class="portfolio-item-menu__item d-flex align-items-center text-gray">
                    <b>Client</b>
                    <span class="fz-14">Envato</span>
                </li>
                <li class="portfolio-item-menu__item d-flex align-items-center text-gray">
                    <b>Website</b>
                    <span class="fz-14">Themeforest</span>
                </li>
                <li class="portfolio-item-menu__item d-flex align-items-center text-gray">
                    <b>Completed</b>
                    <span class="fz-14">17 Aug 2016</span>
                </li>
            </ul>
            <ul class="social-links d-flex">
                <li class="social-links__item">
                    <a href="" class="d-flex justify-content-center align-items-center fab fa-facebook-f ov-h"></a>
                </li>
                <li class="social-links__item">
                    <a href="" class="d-flex justify-content-center align-items-center fab fa-twitter ov-h"></a>
                </li>
                <li class="social-links__item">
                    <a href="" class="d-flex justify-content-center align-items-center fab fa-google-plus-g ov-h"></a>
                </li>
                <li class="social-links__item">
                    <a href="" class="d-flex justify-content-center align-items-center fab fa-pinterest-p ov-h"></a>
                </li>
            </ul>
        </div>
        <div class="col-12 portfolio-item-description text-gray">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
            <p>Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
    </div>
</section>