<section class="section-intro">
    <div class="intro-title-wrap d-flex justify-content-center">
        <div class="intro-title relative">
            <span class="tt-up">pricing</span>
            <div class="lines"></div>
        </div>
    </div>
    <div class="pricing-cards-1 d-flex">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pricing-card-1 d-flex flex-column align-items-center">
            <p class="price-card-title tt-up">starter</p>
            <span class="fa fa-gift"></span>
            <span class="card-price-text">$0.99/m</span>
            <ul class="package-advantages">
                <li class="package-advantage-text">Email Marketing</li>
                <li class="package-advantage-text">Email Builder</li>
                <li class="package-advantage-text">Client Testing</li>
                <li class="package-advantage-text">Multiple Email Support</li>
                <li class="package-advantage-text">2 Users Free</li>
            </ul>
            <a href="" class="btn bordered-30 black tt-up fz-14 pd-h-60">order now</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pricing-card-1 d-flex flex-column align-items-center active">
            <p class="price-card-title tt-up">starter</p>
            <span class="fa fa-gift"></span>
            <span class="card-price-text">$0.99/m</span>
            <ul class="package-advantages">
                <li class="package-advantage-text">Email Marketing</li>
                <li class="package-advantage-text">Email Builder</li>
                <li class="package-advantage-text">Client Testing</li>
                <li class="package-advantage-text">Multiple Email Support</li>
                <li class="package-advantage-text">2 Users Free</li>
            </ul>
            <a href="" class="btn bordered-30 white-light-green tt-up fz-14 pd-h-60">order now</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pricing-card-1 d-flex flex-column align-items-center">
            <p class="price-card-title tt-up">starter</p>
            <span class="fa fa-gift"></span>
            <span class="card-price-text">$0.99/m</span>
            <ul class="package-advantages">
                <li class="package-advantage-text">Email Marketing</li>
                <li class="package-advantage-text">Email Builder</li>
                <li class="package-advantage-text">Client Testing</li>
                <li class="package-advantage-text">Multiple Email Support</li>
                <li class="package-advantage-text">2 Users Free</li>
            </ul>
            <a href="" class="btn bordered-30 black tt-up fz-14 pd-h-60">order now</a>
        </div>
    </div>
</section>