<div class="progress-wrapper section-intro" id="skills-progress">
    <div class="progress-item d-flex align-items-center" data-value="90">
        <div class="col-xs-12 col-sm-3 col-md-2">
            <span class="fw-n text-black fz-14">Photoshop</span>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8">
            <div class="bar-wrap">
                <div class="bar relative"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 text-right">
            <span class="value">90%</span>
        </div>
    </div>
    <div class="progress-item d-flex align-items-center" data-value="80">
        <div class="col-xs-12 col-sm-3 col-md-2">
            <span class="fw-n text-black fz-14">Illustrator</span>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8">
            <div class="bar-wrap">
                <div class="bar relative"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 text-right">
            <span class="value">80%</span>
        </div>
    </div>
    <div class="progress-item d-flex align-items-center" data-value="65">
        <div class="col-xs-12 col-sm-3 col-md-2">
            <span class="fw-n text-black fz-14">User Interface</span>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8">
            <div class="bar-wrap">
                <div class="bar relative"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 text-right">
            <span class="value">65%</span>
        </div>
    </div>
    <div class="progress-item d-flex align-items-center" data-value="70">
        <div class="col-xs-12 col-sm-3 col-md-2">
            <span class="fw-n text-black fz-14">HTML / CSS</span>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8">
            <div class="bar-wrap">
                <div class="bar relative"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 text-right">
            <span class="value">70%</span>
        </div>
    </div>
    <div class="progress-item d-flex align-items-center" data-value="75">
        <div class="col-xs-12 col-sm-3 col-md-2">
            <span class="fw-n text-black fz-14">Java Script / Ajax</span>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8">
            <div class="bar-wrap">
                <div class="bar relative"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 text-right">
            <span class="value">75%</span>
        </div>
    </div>
</div>