<section class="section-intro" id="portfolio-1">
    <div class="intro-title-wrap d-flex justify-content-center">
        <div class="intro-title relative">
            <span class="tt-up">projects</span>
            <div class="lines"></div>
        </div>
    </div>
    <div class="d-flex flex-wrap isotope-no-gutter projects-1">
        <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4 filter-wrapper show mb-30">
            <ul class="isotope-filter">
                <li><a href="#" class="text-sm-light-gray relative active" data-filter="*">All</a></li>
                <li><a href="#" class="text-sm-light-gray relative" data-filter=".Design">Design</a></li>
                <li><a href="#" class="text-sm-light-gray relative" data-filter=".Development">Development</a></li>
                <li><a href="#" class="text-sm-light-gray relative" data-filter=".Branding">Branding</a></li>
                <li><a href="#" class="text-sm-light-gray relative" data-filter=".Artwork">Artwork</a></li>
                <li><a href="#" class="text-sm-light-gray relative" data-filter=".Stationary">Stationary</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4 project-1-item ov-h Design mb-30">
            <figure class="portfolio hover-1 relative transition">
                <img src="http://via.placeholder.com/370x275" class="img-responsive center-block" alt="Img">
                <div class="overlay"></div>
                <figcaption class="transition">
                    <a href="" class="project-1-item--title">Creative Skecthing Tool</a>
                    <p class="project-1-item--content ptSerif f-s-i">Lorem ipsum dolor sit amet, consectetur adipisicing elit, seddo.</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4 project-1-item ov-h Development mb-30">
            <figure class="portfolio hover-1 relative transition">
                <img src="http://via.placeholder.com/370x583" class="img-responsive center-block" alt="Img">
                <div class="overlay"></div>
                <figcaption class="transition">
                    <a href="" class="project-1-item--title">Creative Skecthing Tool</a>
                    <p class="project-1-item--content ptSerif f-s-i">Lorem ipsum dolor sit amet, consectetur adipisicing elit, seddo.</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4 project-1-item ov-h Branding mb-30">
            <figure class="portfolio hover-1 relative transition">
                <img src="http://via.placeholder.com/370x583" class="img-responsive center-block" alt="Img">
                <div class="overlay"></div>
                <figcaption class="transition">
                    <a href="" class="project-1-item--title">Creative Skecthing Tool</a>
                    <p class="project-1-item--content ptSerif f-s-i">Lorem ipsum dolor sit amet, consectetur adipisicing elit, seddo.</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4 project-1-item ov-h Artwork mb-30">
            <figure class="portfolio hover-1 relative transition">
                <img src="http://via.placeholder.com/370x275" class="img-responsive center-block" alt="Img">
                <div class="overlay"></div>
                <figcaption class="transition">
                    <a href="" class="project-1-item--title">Creative Skecthing Tool</a>
                    <p class="project-1-item--content ptSerif f-s-i">Lorem ipsum dolor sit amet, consectetur adipisicing elit, seddo.</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4 project-1-item ov-h Stationary Development mb-30">
            <figure class="portfolio hover-1 relative transition">
                <img src="http://via.placeholder.com/370x275" class="img-responsive center-block" alt="Img">
                <div class="overlay"></div>
                <figcaption class="transition">
                    <a href="" class="project-1-item--title">Creative Skecthing Tool</a>
                    <p class="project-1-item--content ptSerif f-s-i">Lorem ipsum dolor sit amet, consectetur adipisicing elit, seddo.</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4 project-1-item ov-h Branding Design mb-30">
            <figure class="portfolio hover-1 relative transition">
                <img src="http://via.placeholder.com/370x275" class="img-responsive center-block" alt="Img">
                <div class="overlay"></div>
                <figcaption class="transition">
                    <a href="" class="project-1-item--title">Creative Skecthing Tool</a>
                    <p class="project-1-item--content ptSerif f-s-i">Lorem ipsum dolor sit amet, consectetur adipisicing elit, seddo.</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4 project-1-item ov-h Stationary Development mb-30">
            <figure class="portfolio hover-1 relative transition">
                <img src="http://via.placeholder.com/370x275" class="img-responsive center-block" alt="Img">
                <div class="overlay"></div>
                <figcaption class="transition">
                    <a href="" class="project-1-item--title">Creative Skecthing Tool</a>
                    <p class="project-1-item--content ptSerif f-s-i">Lorem ipsum dolor sit amet, consectetur adipisicing elit, seddo.</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-8 project-1-item ov-h Artwork mb-30">
            <figure class="portfolio hover-1 relative transition">
                <img src="http://via.placeholder.com/750x273" class="img-responsive center-block" alt="Img">
                <div class="overlay"></div>
                <figcaption class="transition">
                    <a href="" class="project-1-item--title">Creative Skecthing Tool</a>
                    <p class="project-1-item--content ptSerif f-s-i">Lorem ipsum dolor sit amet, consectetur adipisicing elit, seddo.</p>
                </figcaption>
            </figure>
        </div>
    </div>
</section>