<div class="quotes-wrapper pd-md-vertical-150 relative">
    <div class="overlay"></div>
    <div id="owl-team-main" class="d-flex flex-wrap quotes-cards main-wrapper relative">
        <div class="quote-card">
            <blockquote class="text-white bg-black">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
            </blockquote>
            <div class="quote-author-holder d-flex align-items-center">
                <figure class="img-circle ov-h">
                    <img src="http://via.placeholder.com/60x60" width="60" alt="" class="max-w-100">
                </figure>
                <div>
                    <h5 class="text-light fz-14 fw-n">Michelle Gooden Jones</h5>
                    <span class="text-gray fz-12">Senior UI/UX Developer</span>
                </div>
            </div>
        </div>
        <div class="quote-card">
            <blockquote class="text-white bg-black">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
            </blockquote>
            <div class="quote-author-holder d-flex align-items-center">
                <figure class="img-circle ov-h">
                    <img src="http://via.placeholder.com/60x60" width="60" alt="" class="max-w-100">
                </figure>
                <div>
                    <h5 class="text-light fz-14 fw-n">Michelle Gooden Jones</h5>
                    <span class="text-gray fz-12">Senior UI/UX Developer</span>
                </div>
            </div>
        </div>
        <div class="quote-card">
            <blockquote class="text-white bg-black">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
            </blockquote>
            <div class="quote-author-holder d-flex align-items-center">
                <figure class="img-circle ov-h">
                    <img src="http://via.placeholder.com/60x60" width="60" alt="" class="max-w-100">
                </figure>
                <div>
                    <h5 class="text-light fz-14 fw-n">Michelle Gooden Jones</h5>
                    <span class="text-gray fz-12">Senior UI/UX Developer</span>
                </div>
            </div>
        </div>
        <div class="quote-card">
            <blockquote class="text-white bg-black">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
            </blockquote>
            <div class="quote-author-holder d-flex align-items-center">
                <figure class="img-circle ov-h">
                    <img src="http://via.placeholder.com/60x60" width="60" alt="" class="max-w-100">
                </figure>
                <div>
                    <h5 class="text-light fz-14 fw-n">Michelle Gooden Jones</h5>
                    <span class="text-gray fz-12">Senior UI/UX Developer</span>
                </div>
            </div>
        </div>
        <div class="quote-card">
            <blockquote class="text-white bg-black">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
            </blockquote>
            <div class="quote-author-holder d-flex align-items-center">
                <figure class="img-circle ov-h">
                    <img src="http://via.placeholder.com/60x60" width="60" alt="" class="max-w-100">
                </figure>
                <div>
                    <h5 class="text-light fz-14 fw-n">Michelle Gooden Jones</h5>
                    <span class="text-gray fz-12">Senior UI/UX Developer</span>
                </div>
            </div>
        </div>
        <div class="quote-card">
            <blockquote class="text-white bg-black">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
            </blockquote>
            <div class="quote-author-holder d-flex align-items-center">
                <figure class="img-circle ov-h">
                    <img src="http://via.placeholder.com/60x60" width="60" alt="" class="max-w-100">
                </figure>
                <div>
                    <h5 class="text-light fz-14 fw-n">Michelle Gooden Jones</h5>
                    <span class="text-gray fz-12">Senior UI/UX Developer</span>
                </div>
            </div>
        </div>
    </div>
</div>