<div class="widget widget-posts">
    <h5 class="widget-title">Recent Posts</h5>
    <ul class="posts-list">
        <li class="posts-list__item d-flex align-items-start">
            <figure>
                <img src="http://via.placeholder.com/70x70" alt="">
            </figure>
            <div class="desc d-flex flex-column">
                <a href="" class="post-name fz-15 text-gray mgb-10">Stunning Memorable Wrist Watch</a>
                <time datetime="2017-09-25" class="fz-12 text-gray">
                    <i class="far fa-calendar-alt"></i> 25 September</time>
            </div>
        </li>
        <li class="posts-list__item d-flex align-items-start">
            <figure>
                <img src="http://via.placeholder.com/70x70" alt="">
            </figure>
            <div class="desc d-flex flex-column">
                <a href="" class="post-name fz-15 text-gray mgb-10">Stunning Memorable Wrist Watch</a>
                <time datetime="2017-09-25" class="fz-12 text-gray">
                    <i class="far fa-calendar-alt"></i> 25 September</time>
            </div>
        </li>
        <li class="posts-list__item d-flex align-items-start">
            <figure>
                <img src="http://via.placeholder.com/70x70" alt="">
            </figure>
            <div class="desc d-flex flex-column">
                <a href="" class="post-name fz-15 text-gray mgb-10">Stunning Memorable Wrist Watch</a>
                <time datetime="2017-09-25" class="fz-12 text-gray">
                    <i class="far fa-calendar-alt"></i> 25 September</time>
            </div>
        </li>
        <li class="posts-list__item d-flex align-items-start">
            <figure>
                <img src="http://via.placeholder.com/70x70" alt="">
            </figure>
            <div class="desc d-flex flex-column">
                <a href="" class="post-name fz-15 text-gray mgb-10">Stunning Memorable Wrist Watch</a>
                <time datetime="2017-09-25" class="fz-12 text-gray">
                    <i class="far fa-calendar-alt"></i> 25 September</time>
            </div>
        </li>
        <li class="posts-list__item d-flex align-items-start">
            <figure>
                <img src="http://via.placeholder.com/70x70" alt="">
            </figure>
            <div class="desc d-flex flex-column">
                <a href="" class="post-name fz-15 text-gray mgb-10">Stunning Memorable Wrist Watch</a>
                <time datetime="2017-09-25" class="fz-12 text-gray">
                    <i class="far fa-calendar-alt"></i> 25 September</time>
            </div>
        </li>
        <li class="posts-list__item d-flex align-items-start">
            <figure>
                <img src="http://via.placeholder.com/70x70" alt="">
            </figure>
            <div class="desc d-flex flex-column">
                <a href="" class="post-name fz-15 text-gray mgb-10">Stunning Memorable Wrist Watch</a>
                <time datetime="2017-09-25" class="fz-12 text-gray">
                    <i class="far fa-calendar-alt"></i> 25 September</time>
            </div>
        </li>
        <li class="posts-list__item d-flex align-items-start">
            <figure>
                <img src="http://via.placeholder.com/70x70" alt="">
            </figure>
            <div class="desc d-flex flex-column">
                <a href="" class="post-name fz-15 text-gray mgb-10">Stunning Memorable Wrist Watch</a>
                <time datetime="2017-09-25" class="fz-12 text-gray">
                    <i class="far fa-calendar-alt"></i> 25 September</time>
            </div>
        </li>
    </ul>
</div>