<div class="comment-respond bg-white">
    <form action="" class="comment-form d-flex flex-wrap">
        <div class="col-xs-12 col-sm-4">
            <div class="input-holder mgb-70">
                <input type="text" id="user-name">
                <label for="user-name" class="text-gray">Full Name</label>
                <span class="line-1"></span>
                <span class="line-2 bg-black"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="input-holder mgb-70">
                <input type="email" id="user-email">
                <label for="user-email" class="text-gray">Email Address</label>
                <span class="line-1"></span>
                <span class="line-2 bg-black"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="input-holder mgb-70">
                <input type="email" id="user-website">
                <label for="user-website" class="text-gray">Email Website</label>
                <span class="line-1"></span>
                <span class="line-2 bg-black"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12">
            <div class="input-holder mgb-25">
                <textarea name="" id="user-review" cols="30" rows="10" class="resize-none"></textarea>
                <label for="user-review" class="text-gray">Email Website</label>
                <span class="line-1"></span>
                <span class="line-2 bg-black"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12">
            <button class="btn black tt-up">submit review</button>
        </div>
    </form>
</div>