<div class="widget widget-search">
    <h5 class="widget-title">Search</h5>
    <form action="" class="d-flex align-items-center">
        <input type="search" class="w-100">
        <button class="bd-0 bg-transparent">
            <span class="fas fa-long-arrow-alt-right"></span>
        </button>
    </form>
</div>