<section class="section-intro" id="services-1">
    <div class="d-flex flex-wrap">
        <div class="service-card-1 d-flex flex-column align-items-center justify-content-center col-sm-6 col-md-6 col-lg-4">
            <span class="fa fa-rocket text-black"></span>
            <p class="text-xs-primary tt-up title">web design</p>
            <p class="text-xs-primary tt-up text-white fw-n text-center">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="service-card-1 d-flex flex-column align-items-center justify-content-center col-sm-6 col-md-6 col-lg-4">
            <span class="fa fa-rocket text-black"></span>
            <p class="text-xs-primary tt-up title">web design</p>
            <p class="text-xs-primary tt-up text-white fw-n text-center">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="service-card-1 d-flex flex-column align-items-center justify-content-center col-sm-6 col-md-6 col-lg-4">
            <span class="fa fa-rocket text-black"></span>
            <p class="text-xs-primary tt-up title">web design</p>
            <p class="text-xs-primary tt-up text-white fw-n text-center">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="service-card-1 d-flex flex-column align-items-center justify-content-center col-sm-6 col-md-6 col-lg-4">
            <span class="fa fa-rocket text-black"></span>
            <p class="text-xs-primary tt-up title">web design</p>
            <p class="text-xs-primary tt-up text-white fw-n text-center">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="service-card-1 d-flex flex-column align-items-center justify-content-center col-sm-6 col-md-6 col-lg-4">
            <span class="fa fa-rocket text-black"></span>
            <p class="text-xs-primary tt-up title">web design</p>
            <p class="text-xs-primary tt-up text-white fw-n text-center">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="service-card-1 d-flex flex-column align-items-center justify-content-center col-sm-6 col-md-6 col-lg-4">
            <span class="fa fa-rocket text-black"></span>
            <p class="text-xs-primary tt-up title">web design</p>
            <p class="text-xs-primary tt-up text-white fw-n text-center">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>
</section>