<div class="product">
    <figure class="product__img">
        <a href="" class="d-block">
            <img src="http://via.placeholder.com/270x290" alt="Product Image" class="w-100 max-w-100">
        </a>
    </figure>
    <div class="desc relative default-shadow text-center">
        <div class="actions d-flex justify-content-center">
            <a href="" class="relative text-gray">
                <i class="far fa-heart"></i>
            </a>
            <a href="" class="relative text-gray">
                <i class="fas fa-shopping-basket"></i>
            </a>
            <a href="" class="relative text-gray">
                <i class="fas fa-balance-scale"></i>
            </a>
        </div>
        <a href="" class="title-link">Classic Revolving Chair</a>
        <p class="fz-14 text-gray">Lorem ipsum dolor sit amet,</p>
        <span class="price text-gray fw-n">$150.00</span>
    </div>
</div>