<div class="widget widget-category">
    <h5 class="widget-title">Tag Cloud</h5>
    <div class="tag-cloud d-flex flex-wrap">
        <a href="#" class="text-gray mgr-15 mgb-10 text-underline">Internet</a>
        <a href="#" class="text-gray mgr-15 mgb-10 text-underline">Search</a>
        <a href="#" class="text-gray mgr-15 mgb-10 text-underline">Freelancing</a>
        <a href="#" class="text-gray mgr-15 mgb-10 text-underline">OutSourcing</a>
        <a href="#" class="text-gray mgr-15 mgb-10 text-underline">Young          </a>
        <a href="#" class="text-gray mgr-15 mgb-10 text-underline">Workspace</a>
        <a href="#" class="text-gray mgr-15 mgb-10 text-underline">Freedom</a>
        <a href="#" class="text-gray mgr-15 mgb-10 text-underline">Google</a>
        <a href="#" class="text-gray mgr-15 mgb-10 text-underline">Design          </a>
        <a href="#" class="text-gray mgr-15 mgb-10 text-underline">Development</a>
        <a href="#" class="text-gray mgr-15 mgb-10 text-underline">Marketing</a>
        <a href="#" class="text-gray mgr-15 mgb-10 text-underline">Talent</a>
        <a href="#" class="text-gray mgr-15 mgb-10 text-underline">Media</a>
        <a href="#" class="text-gray mgr-15 mgb-10 text-underline">Programming</a>
        <a href="#" class="text-gray mgr-15 mgb-10 text-underline">Away</a>
        <a href="#" class="text-gray mgr-15 mgb-10 text-underline">Busy</a>
        <a href="#" class="text-gray mgr-15 mgb-10 text-underline">Online</a>
    </div>
</div>