<section class="section-intro" id="team-1">
   <h4 class="price-card-title tt-up">our team</h4>
    <div id="owl-team" class="d-flex flex-wrap team-cards-1">
        <figure class="team-card-1 item">
            <img src="http://via.placeholder.com/365x526" alt="">
            <div class="overlay"></div>
            <figcaption>
                <h4 class="team-card-1-user-name">John Doe</h4>
                <h6 class="team-card-1-user-position tt-up">marketing manager</h6>
                <span class="team-card-1-user-description">
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit, seddo.
                </span>
            </figcaption>
        </figure>
        <figure class="team-card-1 item">
            <img src="http://via.placeholder.com/365x526" alt="">
            <div class="overlay"></div>
            <figcaption>
                <h4 class="team-card-1-user-name">John Doe</h4>
                <h6 class="team-card-1-user-position tt-up">marketing manager</h6>
                <span class="team-card-1-user-description">
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit, seddo.
                </span>
            </figcaption>
        </figure>
        <figure class="team-card-1 item">
            <img src="http://via.placeholder.com/365x526" alt="">
            <div class="overlay"></div>
            <figcaption>
                <h4 class="team-card-1-user-name">John Doe</h4>
                <h6 class="team-card-1-user-position tt-up">marketing manager</h6>
                <span class="team-card-1-user-description">
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit, seddo.
                </span>
            </figcaption>
        </figure>
        <figure class="team-card-1 item">
            <img src="http://via.placeholder.com/365x526" alt="">
            <div class="overlay"></div>
            <figcaption>
                <h4 class="team-card-1-user-name">John Doe</h4>
                <h6 class="team-card-1-user-position tt-up">marketing manager</h6>
                <span class="team-card-1-user-description">
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit, seddo.
                </span>
            </figcaption>
        </figure>
    </div>
</section>