<section class="section-intro" id="testimonial-1">
    <div class="intro-title-wrap d-flex justify-content-center">
        <div class="intro-title relative">
            <span class="tt-up">client says</span>
            <div class="lines"></div>
        </div>
    </div>
    <div id="owl-testimonial" class="d-flex flex-wrap testimonials-1">
        <article class="testimonial-1-item relative item">
            <i class="fas fa-quote-left top"></i>
            <cite class="testimonial-content--text ptSerif f-s-i text-center">
                Our collaboration with Red Collar proved that two companies from the same industry can not only work
                together, but understand each other.
                We are quite picky when it comes to design and products of our industry, so it was a little difficult for us
                to understand how an off-site design studio could do something the way we feel is right. But we took this
                step and didn’t regret it.
            </cite>
            <i class="fas fa-quote-left bottom"></i>
        </article>
        <article class="testimonial-1-item relative item">
            <i class="fas fa-quote-left top"></i>
            <cite class="testimonial-content--text ptSerif f-s-i text-center">
                Our collaboration with Red Collar proved that two companies from the same industry can not only work
                together, but understand each other.
                We are quite picky when it comes to design and products of our industry, so it was a little difficult for us
                to understand how an off-site design studio could do something the way we feel is right. But we took this
                step and didn’t regret it.
            </cite>
            <i class="fas fa-quote-left bottom"></i>
        </article>
        <article class="testimonial-1-item relative item">
            <i class="fas fa-quote-left top"></i>
            <cite class="testimonial-content--text ptSerif f-s-i text-center">
                Our collaboration with Red Collar proved that two companies from the same industry can not only work
                together, but understand each other.
                We are quite picky when it comes to design and products of our industry, so it was a little difficult for us
                to understand how an off-site design studio could do something the way we feel is right. But we took this
                step and didn’t regret it.
            </cite>
            <i class="fas fa-quote-left bottom"></i>
        </article>
    </div>
</section>