<header class="header-white menu-top fixed-top" id="menu-top">
    <nav class="nav-white d-flex justify-content-between align-items-center relative">
        <a class="brand-img" id="brandImg">
            <img src="http://via.placeholder.com/160x80" alt="Logo">
        </a>
        <ul class="navbar lg-mgl-a" id="navbar">
            <li class="navbar__item navabr--item-1 relative ov-h" id="nav-home-1">
                <a class="text-xs-primary tt-up">Home</a>
            </li>
            <li class="navbar__item navabr--item-1 relative ov-h" id="nav-about-1">
                <a href="/about-page" class="text-xs-primary tt-up">About</a>
            </li>
            <li class="navbar__item navabr--item-1 relative ov-h" id="nav-services-1">
                <a class="text-xs-primary tt-up">Services</a>
            </li>
            <li class="navbar__item navabr--item-1 relative ov-h" id="nav-team-1">
                <a href="/team-page" class="text-xs-primary tt-up">Team</a>
            </li>
            <li class="navbar__item navabr--item-1 relative ov-h" id="nav-portfolio-1">
                <a href="/portfolio-page" class="text-xs-primary tt-up">Projects</a>
            </li>
            <li class="navbar__item navabr--item-1 relative ov-h" id="nav-testimonial-1">
                <a class="text-xs-primary tt-up">Testimonial</a>
            </li>
            <li class="navbar__item navabr--item-1 relative ov-h" id="nav-blog-1">
                <a class="text-xs-primary tt-up">Blog</a>
            </li>
            <li class="navbar__item navabr--item-1 relative ov-h" id="nav-contact-1">
                <a class="text-xs-primary tt-up">Contact</a>
            </li>
        </ul>
        <span class="search-1 fa fa-search cursor-pointer" id="navSearchIcon"></span>
        <a class="toggle-header" id="menu-toggler">
            <span></span>
        </a>
    </nav>
    <div class="search-1-field absolute-fit" id="navSearchField">
        <form class="relative">
            <input type="search" class="text-xs-primary bd-0 o-n">
            <a class="fa fa-times absolute" id="navSearchFieldCloser"></a>
        </form>
    </div>
</header>
<% include banner-2.ejs %>