<div class="contact-1-board bg-black relative main-wrapper d-flex flex-wrap flex-md-nowrap align-items-md-start">
    <div class="col-xs-12 col-sm-12 contact-1-board__left">
        <div class="d-flex align-items-start board-1--title-icon">
            <h2 class="text-white tt-up contact-1-board--title">write to us</h2>
            <span class="fa fa-pencil-alt text-light-green"></span>
        </div>
        <p class="contact-1-board--subtitle text-white f-w-300 w-75">
            Lorem ipsum dolor sit amet consectetur adipisicing
            elit, sed do eiusmod.
        </p>
        <ul class="contact-1-list">
            <li class="contact-1-list__item d-flex align-items-center">
                <span class="fa fa-map-marker-alt text-white"></span>
                <a href="" class="contact-1-link text-white w-75">
                    <span>205 Springfield Garden City United Kingdom 7502</span>
                </a>
            </li>
            <li class="contact-1-list__item d-flex align-items-center">
                <span class="fa fa-phone-volume text-white"></span>
                <a href="" class="contact-1-link text-white">
                    <span>+(00) 012 345 678 890</span>
                </a>
            </li>
            <li class="contact-1-list__item d-flex align-items-center">
                <span class="fa fa-globe text-white"></span>
                <a href="" class="contact-1-link text-white">
                    <span>www.google.com </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-12 contact-1-board__right">
        <div class="d-flex align-items-start">
            <form action="" class="contact-1-form w-100">
                <div class="contact-input-1-holder d-flex flex-column relative">
                    <input type="text" id="lname" class="b-sh-n contact-input-1 bd-0 o-n text-white">
                    <label for="lname" class="text-xs-primary text-white">First Name</label>
                    <span class="input-line line-1"></span>
                    <span class="input-line line-2 bg-white"></span>
                </div>
                <div class="contact-input-1-holder d-flex flex-column relative">
                    <input type="text" id="fname" class="b-sh-n contact-input-1 bd-0 o-n text-white">
                    <label for="fname" class="text-xs-primary text-white">Last Name</label>
                    <span class="input-line line-1"></span>
                    <span class="input-line line-2 bg-white"></span>
                </div>
                <div class="contact-input-1-holder d-flex flex-column relative">
                    <input type="email" id="email" class="b-sh-n contact-input-1 bd-0 o-n text-white">
                    <label for="email" class="text-xs-primary text-white">Email address</label>
                    <span class="input-line line-1"></span>
                    <span class="input-line line-2 bg-white"></span>
                </div>
                <div class="contact-input-1-holder d-flex flex-column relative">
                    <textarea id="message" cols="30" rows="5" class="b-sh-n contact-input-1 bd-0 o-n text-white"></textarea>
                    <label for="message" class="text-xs-primary text-white">Message</label>
                    <span class="input-line line-1"></span>
                    <span class="input-line line-2 bg-white"></span>
                </div>
                <input type="submit" class="contact-submit-1 btn light-green-white bordered-30 tt-up fz-14" value="send message">
            </form>
        </div>
    </div>
</div>