<% include partials/block-top.ejs %>
<% include partials/white-header.ejs %>
<main class="main-wrapper">
    <% include partials/about-page-about-us.ejs %>
    <% include partials/team-main.ejs %>
    <% include partials/client-logos.ejs %>
</main>
<% include partials/quotes-slider-section.ejs %>
<% include partials/divider-main.ejs %>
<footer class="footer-1">
    <% include partials/footer-1.ejs %>
</footer>
<% include partials/block-bottom.ejs %>