<% include partials/block-top.ejs %>
<% include partials/white-header.ejs %>
<main class="main-wrapper">
    <div class="d-flex flex-wrap product-cards">
        <div class="col-xs-12 col-md-12 col-lg-9 product-left">
            <article class="post-entry-single">
                <figure class="thumb mgb-25">
                    <img src="http://via.placeholder.com/870x450" alt="Blog Image" class="w-100 max-w-100">
                </figure>
                <h2 class="mgb-20 fz-30 f-w-300">Beautiful Day with Mother of Society</h2>
                <div class="meta text-gray d-flex flex-wrap align-items-center mgb-25">
                    <time datetime="2019-09-18" class="mgr-10"><i class="far fa-calendar-check mgr-5"></i> 24th August</time>
                    <span class="mgr-10"> <i class="fa fa-user mgr-5 fz-14"></i> Montanna Smith</span>
                    <span class="mgr-10"> <i class="fa fa-comments mgr-5 fz-14"></i> 31 Comments</span>
                    <span> <i class="fa fa-folder-open mgr-5 fz-14"></i> General/Cultural</span>
                </div>
                <p class="text-gray fz-15 mgb-20">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore.
                </p>
                <p class="text-gray fz-15 mgb-40">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore.
                </p>
            </article>
            <div class="d-flex flex-wrap mgb-100">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <ul class="social-links d-flex justify-content-center justify-content-md-start">
                        <li class="social-links__item">
                            <a href="" class="d-flex justify-content-center align-items-center fab fa-facebook-f ov-h fz-14"></a>
                        </li>
                        <li class="social-links__item">
                            <a href="" class="d-flex justify-content-center align-items-center fab fa-twitter ov-h fz-14"></a>
                        </li>
                        <li class="social-links__item">
                            <a href="" class="d-flex justify-content-center align-items-center fab fa-behance ov-h fz-14"></a>
                        </li>
                        <li class="social-links__item">
                            <a href="" class="d-flex justify-content-center align-items-center fab fa-linkedin-in ov-h fz-14"></a>
                        </li>
                        <li class="social-links__item">
                            <a href="" class="d-flex justify-content-center align-items-center fab fa-dribbble ov-h fz-14"></a>
                        </li>
                        <li class="social-links__item">
                            <a href="" class="d-flex justify-content-center align-items-center fab fa-vine ov-h fz-14"></a>
                        </li>
                        <li class="social-links__item">
                            <a href="" class="d-flex justify-content-center align-items-center fab fa-pinterest-p ov-h fz-14"></a>
                        </li>

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 offset-md-1 col-md-5">
                    <nav class="post-single-pagination d-flex justify-content-center justify-content-md-between">
                        <a href="#" class="arrow-box"><i class="fas fa-long-arrow-alt-left"></i></a>
                        <div class="d-flex justify-content-between align-items-center flex-md-grow-1 mgl-md-20 mgr-md-20">
                            <a href="#" class="text-gray">Previous Post</a>
                            <a href="#" class="text-gray">Next Post</a>
                        </div>
                        <a href="#" class="arrow-box"><i class="fas fa-long-arrow-alt-right"></i></a>
                    </nav>
                </div>
            </div>
            <h3 class="mgb-40 fz-24 f-w-300">Related Posts</h3>
            <div class="d-flex flex-wrap mgb-50">
                <% for(var i = 0; i < 4; i++) { %>
                    <div class="col-xs-12 col-sm-12 mgb-25 related-post-card">
                        <% include partials/blog-related-post.ejs %>
                    </div>
                <% } %>
            </div>
            <ul class="comments-list">
                <li class="comment-wrapper d-flex align-items-md-center pdt-30 bd-t-light-gray">
                    <figure class="avatar">
                        <img src="http://via.placeholder.com/115x115" alt="User Image" class="img-circle">
                    </figure>
                    <div class="comment-content">
                        <a href="" class="text-black fz-18 f-w-300">Leonerdo Thompson</a>
                        <div class="d-flex text-gray fz-14">
                            <span><b>2018 Sep. 29</b></span>
                            <span><b class="mgl-10 mgr-10">|</b></span>
                            <span><b> 19:00</b></span>
                        </div>
                        <p class="text-gray fz-14">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit.
                        </p>
                    </div>
                </li>
                <li class="comment-wrapper d-flex align-items-md-center">
                    <figure class="avatar">
                        <img src="http://via.placeholder.com/115x115" alt="User Image" class="img-circle">
                    </figure>
                    <div class="comment-content">
                        <a href="" class="text-black fz-18 f-w-300">Leonerdo Thompson</a>
                        <div class="d-flex text-gray fz-14">
                            <span><b>2018 Sep. 29</b></span>
                            <span><b class="mgl-10 mgr-10">|</b></span>
                            <span><b>19:00</b></span>
                        </div>
                        <p class="text-gray fz-14">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit.
                        </p>
                    </div>
                </li>
            </ul>
            <div class="comment-respond bg-white mgb-50">
                <form action="" class="comment-form d-flex flex-wrap">
                    <div class="col-xs-12 col-sm-4">
                        <div class="input-holder mgb-70">
                            <input type="text" id="user-name">
                            <label for="user-name" class="text-gray">Full Name</label>
                            <span class="line-1"></span>
                            <span class="line-2 bg-black"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="input-holder mgb-70">
                            <input type="email" id="user-email">
                            <label for="user-email" class="text-gray">Email Address</label>
                            <span class="line-1"></span>
                            <span class="line-2 bg-black"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="input-holder mgb-70">
                            <input type="email" id="user-website">
                            <label for="user-website" class="text-gray">Email Website</label>
                            <span class="line-1"></span>
                            <span class="line-2 bg-black"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="input-holder mgb-25">
                            <textarea name="" id="user-review" cols="30" rows="10" class="resize-none"></textarea>
                            <label for="user-review" class="text-gray">Email Website</label>
                            <span class="line-1"></span>
                            <span class="line-2 bg-black"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <button class="btn black tt-up">submit review</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 product-right">
            <% include partials/search-block.ejs %>
            <% include partials/category-block.ejs %>
            <% include partials/recent-posts-block.ejs %>
            <% include partials/category-by-date-block.ejs %>
            <% include partials/tag-block.ejs %>
        </div>
    </div>
</main>
<% include partials/divider-main.ejs %>
<footer class="footer-1">
    <% include partials/footer-1.ejs %>
</footer>
<% include partials/block-bottom.ejs %>