<% include partials/block-top.ejs %>
<% include partials/white-header.ejs %>
<main class="main-wrapper">
    <div class="d-flex flex-wrap product-cards">
        <div class="col-xs-12 col-md-12 col-lg-9 product-left">
            <div class="d-flex flex-wrap mgb-50">
                <% for(var i = 0; i < 5; i++) { %>
                    <% include partials/blog-post.ejs %>
                <% } %>
            </div>
            <nav class="post-pagination d-flex justify-content-between">
                <a href="#" class="link-light"><i class="fas fa-long-arrow-alt-left"></i></a>
                <ul class="d-flex">
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>
                <a href="#" class="link-light"><i class="fas fa-long-arrow-alt-right"></i></a>
            </nav>
        </div>
        <div class="col-xs-12 col-md-12 product-right">
            <% include partials/search-block.ejs %>
            <% include partials/category-block.ejs %>
            <% include partials/recent-posts-block.ejs %>
            <% include partials/category-by-date-block.ejs %>
        </div>
    </div>
</main>
<% include partials/divider-main.ejs %>
<footer class="footer-1">
    <% include partials/footer-1.ejs %>
</footer>
<% include partials/block-bottom.ejs %>