<% include partials/block-top.ejs %>
<% include partials/white-header.ejs %>
<main class="main-wrapper">
    <div class="table-scroll-holder mgb-40">
        <table class="cart-product-table w-100">
            <thead>
            <tr>
                <th class="text-gray">Product</th>
                <th class="text-gray">Price</th>
                <th class="text-gray">Quantity</th>
                <th class="text-gray">Total Price</th>
                <th class="text-gray"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <figure class="mgr-15">
                            <img src="http://via.placeholder.com/100x100" alt="" class="radius">
                        </figure>
                        <div class="desc d-flex flex-column ">
                            <a href="#" class="text-gray f-w-n">Nike Tutta Sports</a>
                            <span class="fz-12 text-gray f-w-n">Size : Large</span>
                        </div>
                    </div>
                </td>
                <td class="product-price">
                    <span class="text-gray f-w-n">$150.00</span>
                </td>
                <td class="quantity-field">
                    <button type="button" id="sub" class="sub">
                        <i class="fa fa-caret-left text-gray"></i>
                    </button><input type="text" id="1" value="1" class="fz-14 text-gray" readonly=""><button type="button" id="add" class="add">
                        <i class="fa fa-caret-right text-gray"></i>
                    </button>
                </td>
                <td class="product-price">
                    <span class="text-gray fw-n">$150.00</span>
                </td>
                <td class="remove-product">
                    <a>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50"
                             style="enable-background:new 0 0 50 50;" xml:space="preserve">
                              <polygon points="32.1,18.6 31.4,17.9 25,24.3 18.6,17.9 17.9,18.6 24.3,25 17.9,31.4 18.6,32.1 25,25.7 31.4,32.1 32.1,31.4 25.7,25 "></polygon>
                            <path d="M25,1c13.2,0,24,10.8,24,24S38.2,49,25,49S1,38.2,1,25S11.8,1,25,1 M25,0C11.2,0,0,11.2,0,25s11.2,25,25,25s25-11.2,25-25 S38.8,0,25,0L25,0z"></path>
                        </svg>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <figure class="mgr-15">
                            <img src="http://via.placeholder.com/100x100" alt="" class="radius">
                        </figure>
                        <div class="desc d-flex flex-column ">
                            <a href="#" class="text-gray f-w-n">Nike Tutta Sports</a>
                            <span class="fz-12 text-gray f-w-n">Size : Large</span>
                        </div>
                    </div>
                </td>
                <td class="product-price">
                    <span class="text-gray f-w-n">$150.00</span>
                </td>
                <td class="quantity-field">
                    <button type="button" id="sub" class="sub">
                        <i class="fa fa-caret-left text-gray"></i>
                    </button><input type="text" id="1" value="1" class="fz-14 text-gray" readonly=""><button type="button" id="add" class="add">
                        <i class="fa fa-caret-right text-gray"></i>
                    </button>
                </td>
                <td class="product-price">
                    <span class="text-gray fw-n">$150.00</span>
                </td>
                <td class="remove-product">
                    <a>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50"
                             style="enable-background:new 0 0 50 50;" xml:space="preserve">
                              <polygon points="32.1,18.6 31.4,17.9 25,24.3 18.6,17.9 17.9,18.6 24.3,25 17.9,31.4 18.6,32.1 25,25.7 31.4,32.1 32.1,31.4 25.7,25 "></polygon>
                            <path d="M25,1c13.2,0,24,10.8,24,24S38.2,49,25,49S1,38.2,1,25S11.8,1,25,1 M25,0C11.2,0,0,11.2,0,25s11.2,25,25,25s25-11.2,25-25 S38.8,0,25,0L25,0z"></path>
                        </svg>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <figure class="mgr-15">
                            <img src="http://via.placeholder.com/100x100" alt="" class="radius">
                        </figure>
                        <div class="desc d-flex flex-column ">
                            <a href="#" class="text-gray f-w-n">Nike Tutta Sports</a>
                            <span class="fz-12 text-gray f-w-n">Size : Large</span>
                        </div>
                    </div>
                </td>
                <td class="product-price">
                    <span class="text-gray f-w-n">$150.00</span>
                </td>
                <td class="quantity-field">
                    <button type="button" id="sub" class="sub">
                        <i class="fa fa-caret-left text-gray"></i>
                    </button><input type="text" id="1" value="1" class="fz-14 text-gray" readonly=""><button type="button" id="add" class="add">
                        <i class="fa fa-caret-right text-gray"></i>
                    </button>
                </td>
                <td class="product-price">
                    <span class="text-gray fw-n">$150.00</span>
                </td>
                <td class="remove-product">
                    <a>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50"
                             style="enable-background:new 0 0 50 50;" xml:space="preserve">
                              <polygon points="32.1,18.6 31.4,17.9 25,24.3 18.6,17.9 17.9,18.6 24.3,25 17.9,31.4 18.6,32.1 25,25.7 31.4,32.1 32.1,31.4 25.7,25 "></polygon>
                            <path d="M25,1c13.2,0,24,10.8,24,24S38.2,49,25,49S1,38.2,1,25S11.8,1,25,1 M25,0C11.2,0,0,11.2,0,25s11.2,25,25,25s25-11.2,25-25 S38.8,0,25,0L25,0z"></path>
                        </svg>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex flex-wrap align-items-start mgb-100">
        <div class="col-xs-12 col-sm-6 col-md-4 calculate-tax">
            <h5 class="text-black tt-up mgb-25 fz-15 fw-n">Estimated Shipping Tax</h5>
            <select name="country" id="country" class="selectize mgb-10">
                <option value="default" selected>Country Name</option>
                <option value="AF">Afganisthan</option>
                <option value="BN">Bangladesh</option>
                <option value="CA">Canada</option>
            </select>
            <select name="state" id="state" class="selectize mgb-10">
                <option value="default" selected>State Name</option>
                <option value="CTG">Chittagong</option>
                <option value="COM">Comilla</option>
                <option value="DHK">Dhaka</option>
            </select>
            <div class="input-holder mgb-25">
                <input type="text" placeholder="Postal Code" class="text-gray fw-n">
                <span class="line-1"></span>
                <span class="line-2 bg-black"></span>
            </div>
            <a href="#" class="btn white bordered-30 pd-10-30 fz-14 tt-up">Update Total</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 coupon-box d-flex flex-wrap align-items-start">
            <h5 class="text-black tt-up mgb-25 fz-15 fw-n w-100">Coupon Code</h5>
            <div class="input-holder mgb-25 w-100">
                <input type="text" placeholder="Coupon Code" class="text-gray fw-n">
                <span class="line-1"></span>
                <span class="line-2 bg-black"></span>
            </div>
            <a href="#" class="btn white bordered-30 pd-10-30 md-mgl-a fz-14 tt-up">Apply Coupon</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 subtotal-box">
            <div class="cart-subtotal">
                <div class="text-gray fw-n fz-15 d-flex justify-content-between mgb-10">
                    <span>Sub Total</span>
                    <span>$600.00</span>
                </div>
                <div class="text-gray fw-n fz-15 d-flex justify-content-between mgb-10">
                    <span>Discount (20%)</span>
                    <span class="text-danger">- $120.00</span>
                </div>
                <hr>
                <p class="mgb-10 text-gray fw-n fz-15">Shipping Methods</p>
                <div class="shipping-method d-flex align-items-center">
                    <div class="custom-radio w-100">
                        <input type="radio" name="shipping-method" id="flat_rate" class="d-none" checked>
                        <label for="flat_rate" class="text-gray fz-15 fw-n relative d-flex justify-content-between w-100 cursor-pointer">
                            <span>Flat Rate</span>
                            <span>$5.00</span>
                        </label>
                    </div>
                </div>
                <div class="shipping-method d-flex align-items-center">
                    <div class="custom-radio w-100">
                        <input type="radio" name="shipping-method" id="free_shipping" class="d-none">
                        <label for="free_shipping" class="text-gray fz-15 fw-n relative d-flex justify-content-between w-100 cursor-pointer">
                            <span>Free Shipping</span>
                            <span>$0.00</span>
                        </label>
                    </div>
                </div>
                <div class="shipping-method d-flex align-items-center">
                    <div class="custom-radio w-100">
                        <input type="radio" name="shipping-method" id="local_shipping" class="d-none">
                        <label for="local_shipping" class="text-gray fz-15 fw-n relative d-flex justify-content-between w-100 cursor-pointer">
                            <span>Local Shipping</span>
                            <span>$10.00</span>
                        </label>
                    </div>
                </div>
                <div class="shipping-method d-flex align-items-center">
                    <div class="custom-radio w-100">
                        <input type="radio" name="shipping-method" id="int_shipping" class="d-none">
                        <label for="int_shipping" class="text-gray fz-15 fw-n relative d-flex justify-content-between w-100 cursor-pointer">
                            <span>Int Shipping</span>
                            <span>$10.00</span>
                        </label>
                    </div>
                </div>
                <hr>
                <p class="text-gray d-flex justify-content-between align-items-center mgb-10">
                    <span class="text-gray fz-15">Total</span>
                    <span class="text-black fz-18">$480.00</span>
                </p>
            </div>
        </div>
        <div class="card-actions d-flex justify-content-end w-100 mgt-100">
            <a href="" class="btn white bordered-30 tt-up">Update Cart</a>
            <a href="" class="btn black bordered-30 tt-up mgl-15">Proceed to Checkout</a>
        </div>
    </div>
</main>
<% include partials/divider-black.ejs %>
<footer class="footer-1">
    <% include partials/footer-1.ejs %>
</footer>
<% include partials/block-bottom.ejs %>