<% include partials/block-top.ejs %>
<% include partials/white-header.ejs %>
<main class="main-wrapper">
    <div class="d-flex flex-wrap align-items-start mgb-100">
        <div class="col-xs-12 col-md-6">
            <div class="checkout-login-box woocommerce-info">
                <a href="#" class="woocommerce-info-toggle d-block text-black"><b>Returing Customer? </b>Click Here to Login</a>
                <form action="#" class="login-form mgt-50" style="display: none;">
                    <div class="input-holder mgb-20">
                        <input type="text" placeholder="Username / Email Address">
                        <span class="line-1"></span>
                        <span class="line-2 bg-black"></span>
                    </div>
                    <div class="input-holder mgb-10">
                        <input type="password" placeholder="Password">
                        <span class="line-1"></span>
                        <span class="line-2 bg-black"></span>
                    </div>
                    <div class="custom-checkbox d-flex align-items-center mgb-25">
                        <input type="checkbox" id="remember_login" name="remember_login" class="d-none">
                        <label for="remember_login" class="fw-300 text-gray cursor-pointer relative us-s-n">Remember Login</label>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-center login-buttons">
                        <button type="submit" class="btn black tt-up bordered-30">Login</button>
                        <a href="#" class="forgot-password text-gray"><u>Forgot Password?</u></a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="coupon-toggle-box woocommerce-info">
                <a href="#" class="woocommerce-info-toggle text-gray d-block"><b>Have A Coupon?</b> Click here to enter coupon code</a>
                <form action="#" class="checkout-coupon mgt-50" style="display: none;">
                    <div class="input-holder mgb-25">
                        <input type="text" placeholder="Coupon Code">
                        <span class="line-1"></span>
                        <span class="line-2 bg-black"></span>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn black bordered-30 tt-up">Apply Coupon</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <form class="d-flex flex-wrap align-items-start mgb-100">
       <div class="col-xs-12 col-md-6 checkout-billing">
           <h5 class="fw-700 tt-up mgb-70">Billing Details</h5>
           <div class="input-holder mgb-25">
               <input type="text" placeholder="First Name">
               <span class="line-1"></span>
               <span class="line-2 bg-black"></span>
           </div>
           <div class="input-holder mgb-25">
               <input type="text" placeholder="Last Name">
               <span class="line-1"></span>
               <span class="line-2 bg-black"></span>
           </div>
           <div class="input-holder mgb-25">
               <input type="text" placeholder="Company Name">
               <span class="line-1"></span>
               <span class="line-2 bg-black"></span>
           </div>
           <div class="input-holder mgb-25">
               <input type="email" placeholder="Email Address">
               <span class="line-1"></span>
               <span class="line-2 bg-black"></span>
           </div>
           <div class="input-holder mgb-25">
               <input type="email" placeholder="Address">
               <span class="line-1"></span>
               <span class="line-2 bg-black"></span>
           </div>
           <div class="input-holder mgb-25">
               <input type="email" placeholder="State">
               <span class="line-1"></span>
               <span class="line-2 bg-black"></span>
           </div>
            <select name="country2" id="country2" class="selectize w-100 mgb-25">
                   <option value="" selected>Country</option>
                   <option value="BN">Bangladesh</option>
                   <option value="BH">Bhutan</option>
                   <option value="CA">Canada</option>
            </select>
           <div class="input-holder mgb-25">
               <input type="email" placeholder="Postal Code">
               <span class="line-1"></span>
               <span class="line-2 bg-black"></span>
           </div>
           <div class="custom-checkbox create-account d-flex align-items-center">
               <input type="checkbox" id="createaccount" name="createaccount" placeholder="Password" class="d-none">
               <label for="createaccount" class="fw-300 text-gray relative cursor-pointer">Want to Create an Account?</label>
           </div>
           <div class="password-field text-gray mgt-50" style="display: none;">
               <p>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
               <div class="input-holder">
                   <input type="password" placeholder="Password">
                   <span class="line-1"></span>
                   <span class="line-2 bg-black"></span>
               </div>
           </div>
           <div class="mgt-50 mgb-40">
               <div class="custom-checkbox flex flex-middle">
                   <input type="checkbox" id="diff_shipping_address" name="diff_shipping_address" placeholder="Password" class="d-none">
                   <label for="diff_shipping_address" class="fw-300 text-gray diff_shipping_address relative cursor-pointer">Ship to a Different Address?</label>
               </div>
               <div class="diff-shipping-address mgt-50" style="display: none;">
                   <div class="input-holder mgb-25">
                       <input type="text" placeholder="First Name">
                       <span class="line-1"></span>
                       <span class="line-2 bg-black"></span>
                   </div>
                   <div class="input-holder mgb-25">
                       <input type="text" placeholder="Last Name">
                       <span class="line-1"></span>
                       <span class="line-2 bg-black"></span>
                   </div>
                   <div class="input-holder mgb-25">
                       <input type="text" placeholder="Company Name">
                       <span class="line-1"></span>
                       <span class="line-2 bg-black"></span>
                   </div>
                   <div class="input-holder mgb-25">
                       <input type="email" placeholder="Email Address">
                       <span class="line-1"></span>
                       <span class="line-2 bg-black"></span>
                   </div>
                   <div class="input-holder mgb-25">
                       <input type="text" placeholder="Address">
                       <span class="line-1"></span>
                       <span class="line-2 bg-black"></span>
                   </div>
                   <div class="input-holder mgb-25">
                       <input type="text" placeholder="State">
                       <span class="line-1"></span>
                       <span class="line-2 bg-black"></span>
                   </div>
                   <select name="country3" id="country3" class="selectize w-100 mgb-25">
                       <option value="" selected>Country</option>
                       <option value="BN">Bangladesh</option>
                       <option value="BH">Bhutan</option>
                       <option value="CA">Canada</option>
                   </select>
                   <div class="input-holder">
                       <input type="text" placeholder="Postal Code">
                       <span class="line-1"></span>
                       <span class="line-2 bg-black"></span>
                   </div>
               </div>
           </div>

           <h5 class="tt-up fw-n mgb-50">Order Notes</h5>
           <div class="input-holder mgb-25">
               <textarea placeholder="Notes about your order, e.g. special notes for delivery." cols="30" rows="10" class="resize-none"></textarea>
               <span class="line-1"></span>
               <span class="line-2 bg-black"></span>
           </div>
       </div>
        <div class="col-xs-12 col-md-6 checkout-reviews-order">
            <h5 class="fw-700 tt-up mgb-25">Your Order</h5>
            <div class="table-scroll-holder mgb-20">
                    <table class="w-100">
                        <thead>
                            <tr>
                                <th class="text-gray">Product</th>
                                <th class="text-gray">Quantity</th>
                                <th class="text-gray">Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="d-flex flex-column">
                                    <a href="#" class="fz-15 text-gray">Black WorkStation Component for Men </a>
                                    <span class="fz-12 text-gray">Size : Large</span>
                                </td>
                                <td class="text-gray">1</td>
                                <td><span class="fz-15 text-gray">$150.00</span></td>
                            </tr>
                            <tr>
                                <td class="d-flex flex-column">
                                    <a href="#" class="fz-15 text-gray">Black WorkStation Component for Men </a>
                                    <span class="fz-12 text-gray">Size : Large</span>
                                </td>
                                <td class="text-gray">1</td>
                                <td><span class="fz-15 text-gray">$150.00</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <div class="d-flex mgb-100">
                <div class="col-xs-12 col-md-7 md-mgl-a">
                    <div class="cart-subtotal pd-0">
                        <div class="text-gray fw-n fz-15 d-flex justify-content-between mgb-10">
                            <span class="ws-nw">Sub Total</span>
                            <span class="mgl-15 ws-nw">$600.00</span>
                        </div>
                        <div class="text-gray fw-n fz-15 d-flex justify-content-between mgb-10">
                            <span class="ws-nw">Discount (20%)</span>
                            <span class="text-danger mgl-15 ws-nw">- $120.00</span>
                        </div>
                        <div class="text-gray fw-n fz-15 d-flex justify-content-between mgb-10">
                            <span class="ws-nw">Shipping Cost</span>
                            <span class="mgl-15 ws-nw">$005.00</span>
                        </div>
                        <hr>
                        <p class="text-gray d-flex justify-content-between align-items-center mgb-10">
                            <span class="text-gray fz-15">Total</span>
                            <span class="text-black fz-18">$480.00</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="woocommerce-checkout-payment default-shadow mgb-70">
                <ul class="wc_payment_methods">
                    <li class="wc_payment_method">
                        <div class="custom-radio">
                            <input type="radio" value="bank" name="payment_method" id="payment_method_bank" class="d-none">
                            <label for="payment_method_bank" class="fw-300 text-gray w-100 relative cursor-pointer">Local Bank</label>
                        </div>
                        <div class="payment_box text-gray">
                            <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                        </div>
                    </li>
                    <li class="wc_payment_method">
                        <div class="custom-radio">
                            <input type="radio" value="check" name="payment_method" id="payment_method_check" class="d-none">
                            <label for="payment_method_check" class="fw-300 text-gray w-100 relative cursor-pointer">Check</label>
                        </div>
                        <div class="payment_box text-gray">
                            <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                        </div>
                    </li>
                    <li class="wc_payment_method">
                        <div class="custom-radio montserrat">
                            <input type="radio" value="cheque" name="payment_method" id="payment_method_cheque" class="d-none">
                            <label for="payment_method_cheque" class="fw-300 text-gray w-100 relative cursor-pointer">Check Payments</label>
                        </div>
                        <div class="payment_box text-gray">
                            <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="d-flex justify-content-end flex-column flex-lg-row flex-lg-nowrap cart-buttons">
                <a href="" class="btn white bordered-30 tt-up">back to cart</a>
                <a href="" class="btn black bordered-30 tt-up">Proceed to Payment</a>
            </div>
        </div>
    </form>
</main>
<% include partials/divider-black.ejs %>
<footer class="footer-1">
    <% include partials/footer-1.ejs %>
</footer>
<% include partials/block-bottom.ejs %>