<% include partials/block-top.ejs %>
<% include partials/white-header.ejs %>
<% include partials/write-us-board-2.ejs %>
<% include partials/divider-black.ejs %>
<footer class="footer-1">
    <% include partials/footer-1.ejs %>
</footer>
<% include partials/block-bottom.ejs %>