<% include partials/block-top.ejs %>
<% include partials/demo-page-header.ejs %>
<main class="main-wrapper">
    <div class="text-center mgb-100">
        <h6 class="text-black fz-18 fw-n mgb-40">
            Typo is the perfect way to showcase your Business with a smooth and creative
            visual experience. Your visitors will love it.
        </h6>
        <h1 class="text-black tt-up fz-30 mgb-70">CHOOSE FROM THE DEMOS BELOW</h1>
    </div>
    <section class="section-intro">
        <h4 class="text-black fw-n tt-up fz-25 mgb-70 text-center">EXCLUSIVE FULLSCREEN</h4>
        <div class="d-flex flex-wrap">
            <% for(var i = 0; i < 6; i++) { %>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 text-center demo-block">
                <a href="" class="imac-holder d-block ov-h" target="_blank">
                    <div class="relative w-100 mgb-40">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/IMac_Pro.svg/1200px-IMac_Pro.svg.png" alt="" class="max-w-100">
                        <div class="demo-block-cover ov-h absolute" style="background-image: url(http://specthemes.com/webmaker/webmaker-preview/img/prevs/p7.png);"></div>
                    </div>
                    <h4 class="text-black fz-18 fw-n">Homepage Default</h4>
                </a>
            </div>
            <% } %>
        </div>
    </section>
    <section class="section-intro">
        <h4 class="text-black fw-n tt-up fz-25 mgb-70 text-center">GORGEOUS LANDING PAGE</h4>
        <div class="d-flex flex-wrap">
            <% for(var i = 0; i < 6; i++) { %>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 text-center demo-block">
                <a href="" class="imac-holder d-block ov-h" target="_blank">
                    <div class="relative w-100 mgb-40">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/IMac_Pro.svg/1200px-IMac_Pro.svg.png" alt="" class="max-w-100">
                        <div class="demo-block-cover ov-h absolute" style="background-image: url(http://specthemes.com/webmaker/webmaker-preview/img/prevs/p8.png);"></div>
                    </div>
                    <h4 class="text-black fz-18 fw-n">Homepage Default</h4>
                </a>
            </div>
            <% } %>
        </div>
    </section>
</main>
<footer class="footer-1">
    <% include partials/footer-1.ejs %>
</footer>
<% include partials/block-bottom.ejs %>