<% include partials/block-top.ejs %>
<% include partials/dark-header.ejs %>
<div class="main-wrapper">
    <% include partials/services-1.ejs %>
    <% include partials/team-1.ejs %>
    <% include partials/projects-1.ejs %>

</div>
<section class="section-intro">
    <% include partials/quotes-slider-section.ejs %>
</section>
<div class="main-wrapper">
    <% include partials/client-logos.ejs %>
    <% include partials/blog-1.ejs %>
</div>
<% include partials/divider-presentation-1.ejs %>
<footer class="footer-1">
    <% include partials/footer-1.ejs %>
</footer>
<% include partials/block-bottom.ejs %>