<% include partials/block-top.ejs %>
<% include partials/dark-header.ejs %>
<main class="main-wrapper">
    <% include partials/about-us-1.ejs %>
    <% include partials/services-1.ejs %>
    <% include partials/team-1.ejs %>
    <% include partials/projects-1.ejs %>
    <% include partials/testimonials-1.ejs %>
    <% include partials/pricing-1.ejs %>
    <% include partials/blog-1.ejs %>
</main>
<% include partials/divider-presentation-1.ejs %>
<% include partials/map-section-1.ejs %>
<footer class="footer-1">
    <% include partials/footer-1.ejs %>
</footer>
<% include partials/block-bottom.ejs %>