<% include partials/block-top.ejs %>
<% include partials/white-header.ejs %>
<main class="main-wrapper">
    <% include partials/portfolio-item-content.ejs %>
</main>
<% include partials/divider-main.ejs %>
<footer class="footer-1">
    <% include partials/footer-1.ejs %>
</footer>
<% include partials/block-bottom.ejs %>