<% include partials/block-top.ejs %>
<% include partials/white-header.ejs %>
<main class="main-wrapper">
    <div class="d-flex flex-wrap mgb-100">
        <div class="col-xs-12 col-md-6">
            <div class="product-slider" id="owl-product">
                    <div class="relative item">
                        <img src="http://via.placeholder.com/670x710" alt="Product Image" class="max-w-100">
                    </div>
                    <div class="relative item">
                        <img src="http://via.placeholder.com/670x710" alt="Product Image" class="max-w-100">
                    </div>
                    <div class="relative item">
                        <img src="http://via.placeholder.com/670x710" alt="Product Image" class="max-w-100">
                    </div>
                </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="product-summary">
                <h3 class="fz-24 fw-n">Comfortable</h3>
                <h3 class="fz-24 fw-n mgb-10">Black Office Chair</h3>
                <span class="text-gray tt-up mgb-20 d-block">Pid : ab0070</span>
                <div class="price-wrap mgb-25 d-flex align-items-center">
                    <span class="reg fw-300 text-gray fz-20 relative">$150.99</span>
                    <span class="sale btn black pd-10-30">$120.99</span>
                </div>
                <div class="quantity mgb-25 d-flex align-items-center">
                    <span class="action-label relative text-gray">Qty</span>
                    <div class="quantity-field d-flex">
                        <button type="button" id="sub" class="sub">
                            <i class="fa fa-caret-left text-gray"></i>
                        </button>
                        <input type="text" id="1" value="1" class="fz-14 text-gray" readonly>
                        <button type="button" id="add" class="add">
                            <i class="fa fa-caret-right text-gray"></i>
                        </button>
                    </div>
                </div>
                <div class="size mgb-25 d-flex align-items-center">
                    <span class="action-label relative text-gray">Size</span>
                    <div class="nice-select relative" tabindex="0">
                        <select>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="SM">SM</option>
                        </select>
                    </div>
                </div>
                <div class="color mgb-40 d-flex flex-column">
                    <p class="mgb-10">
                        <span class="action-label relative text-gray">Color</span>
                        <span class="selected-color text-gray"> Charcoal Black</span>
                    </p>
                    <p class="d-flex">
                        <span class="product-radio">
                            <input type="radio" name="choose-color" id="magenta">
                            <label for="magenta" data-color-code="#b60a73" data-color-name="Magenta">Magenta</label>
                        </span>
                        <span class="product-radio">
                            <input type="radio" name="choose-color" id="charcoal-black">
                            <label for="charcoal-black" data-color-code="#000" data-color-name="Charcoal Black">Charcoal Black</label>
                        </span>
                        <span class="product-radio">
                            <input type="radio" name="choose-color" id="light-green">
                            <label for="light-green" data-color-code="#86c325" data-color-name="Light Green">Light Green</label>
                        </span>
                        <span class="product-radio">
                            <input type="radio" name="choose-color" id="orange">
                            <label for="orange" data-color-code="#d8720e" data-color-name="Orange">Orange</label>
                        </span>
                        <span class="product-radio">
                            <input type="radio" name="choose-color" id="purple">
                            <label for="purple" data-color-code="#7e08da" data-color-name="Purple">Purple</label>
                        </span>
                    </p>
                </div>
                <div class="action mgb-50 d-flex">
                    <a href="" class="btn black tt-up f-w-300 bordered-30 mgr-15">
                        <span class="fas fa-shopping-basket mgr-15"></span>add to bag
                    </a>
                    <a href="" class="btn white pd-0 wishlist">
                        <span class="far fa-heart"></span>
                    </a>
                </div>
                <div class="tags d-flex">
                    <span class="action-label relative text-gray">Tags</span>
                    <span>
                        <a href="#" class="text-gray fz-15 link-underline">Office,</a>
                        <a href="#" class="text-gray fz-15 link-underline">Chair,</a>
                        <a href="#" class="text-gray fz-15 link-underline">Furniture,</a>
                        <a href="#" class="text-gray fz-15 link-underline">Corporate</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap product-cards">
        <div class="col-xs-12 col-md-12 col-lg-9 product-left">
            <div class="d-flex flex-wrap mgb-50">
                <div class="nav nav-tabs product-tabs w-100 mgb-40" id="nav-tab" role="tablist">
                    <a class="nav-item product-tab relative active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Descriptions</a>
                    <a class="nav-item product-tab relative" id="product-spec-tab" data-toggle="tab" href="#product-spec" role="tab" aria-controls="product-spec" aria-selected="false">Specifications</a>
                    <a class="nav-item product-tab relative" id="product-reviews-tab" data-toggle="tab" href="#product-reviews" role="tab" aria-controls="product-reviews" aria-selected="false">Reviews(3)</a>
                </div>
                <div class="tab-content w-100" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">
                        <div class="product-desc-wrapper">
                            <p class="fz-14 text-gray">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteurs intoc caecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                                voluptatem accusantiumdolorem que laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                                magni dolores eos qui ratione voluptatem sequi nesciunt.
                            </p>
                            <p class="fz-14 text-gray">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="product-spec" role="tabpanel" aria-labelledby="product-spec-tab">
                        <ul class="product-specs">
                            <li class="d-flex align-items-center fz-14 text-gray">
                                <span>Color</span>
                                <span>Charcoal Black and Steel.</span>
                            </li>
                            <li class="d-flex align-items-center fz-14 text-gray">
                                <span>Size</span>
                                <span>Large.</span>
                            </li>
                            <li class="d-flex align-items-center fz-14 text-gray">
                                <span>Weight</span>
                                <span>2.5 lbs.</span>
                            </li>
                            <li class="d-flex align-items-center fz-14 text-gray">
                                <span>Dimension</span>
                                <span>2.5 x 1.5 x 1 m</span>
                            </li>
                            <li class="d-flex align-items-center fz-14 text-gray">
                                <span>Material</span>
                                <span>Wood and Stainless steel.</span>
                            </li>
                            <li class="d-flex align-items-center fz-14 text-gray">
                                <span>Warrenty</span>
                                <span>2 Years</span>
                            </li>
                        </ul>

                    </div>
                    <div class="tab-pane fade" id="product-reviews" role="tabpanel" aria-labelledby="product-reviews-tab">
                        <ul class="comments-list">
                            <li class="comment-wrapper d-flex align-items-md-center">
                                <figure class="avatar">
                                    <img src="http://via.placeholder.com/115x115" alt="User Image" class="img-circle">
                                </figure>
                                <div class="comment-content">
                                    <a href="" class="text-black fz-18 f-w-300">Leonerdo Thompson</a>
                                    <div class="star-rating d-flex text-gray fz-14">
                                        <span class="far fa-star"></span>
                                        <span class="far fa-star"></span>
                                        <span class="far fa-star"></span>
                                        <span class="far fa-star"></span>
                                        <span class="far fa-star"></span>
                                    </div>
                                    <p class="text-gray fz-14">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit.
                                    </p>
                                </div>
                            </li>
                            <li class="comment-wrapper d-flex align-items-md-center">
                                <figure class="avatar">
                                    <img src="http://via.placeholder.com/115x115" alt="User Image" class="img-circle">
                                </figure>
                                <div class="comment-content">
                                    <a href="" class="text-black fz-18 f-w-300">Leonerdo Thompson</a>
                                    <div class="star-rating d-flex text-gray fz-14">
                                        <span class="far fa-star"></span>
                                        <span class="far fa-star"></span>
                                        <span class="far fa-star"></span>
                                        <span class="far fa-star"></span>
                                        <span class="far fa-star"></span>
                                    </div>
                                    <p class="text-gray fz-14">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit.
                                    </p>
                                </div>
                            </li>
                            <li class="comment-wrapper d-flex align-items-md-center">
                                <figure class="avatar">
                                    <img src="http://via.placeholder.com/115x115" alt="User Image" class="img-circle">
                                </figure>
                                <div class="comment-content">
                                    <a href="" class="text-black fz-18 f-w-300">Leonerdo Thompson</a>
                                    <div class="star-rating d-flex text-gray fz-14">
                                        <span class="far fa-star"></span>
                                        <span class="far fa-star"></span>
                                        <span class="far fa-star"></span>
                                        <span class="far fa-star"></span>
                                        <span class="far fa-star"></span>
                                    </div>
                                    <p class="text-gray fz-14">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit.
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <% include partials/review-board.ejs %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 product-right">
            <% include partials/search-block.ejs %>
            <% include partials/category-block.ejs %>
            <% include partials/recent-posts-block.ejs %>
            <% include partials/category-by-date-block.ejs %>
        </div>
    </div>
</main>
<% include partials/divider-black.ejs %>
<footer class="footer-1">
    <% include partials/footer-1.ejs %>
</footer>
<% include partials/block-bottom.ejs %>