<% include partials/block-top.ejs %>
<% include partials/white-header.ejs %>
<main class="main-wrapper">
    <div class="d-flex flex-wrap product-cards">
        <div class="col-xs-12 col-md-12 col-lg-9 product-left">
            <div class="d-flex flex-wrap">
                <% for(var i = 0; i < 12; i++) { %>
                <div class="col-xs-12 product-card">
                    <% include partials/shop-item.ejs %>
                </div>
                <% } %>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 product-right">
            <% include partials/search-block.ejs %>
            <% include partials/category-block.ejs %>
            <% include partials/recent-posts-block.ejs %>
            <% include partials/category-by-date-block.ejs %>
        </div>
    </div>
</main>
<% include partials/divider-main.ejs %>
<footer class="footer-1">
    <% include partials/footer-1.ejs %>
</footer>
<% include partials/block-bottom.ejs %>